.static#about {
  .who {
    overflow: hidden;
    
    .person {
      display: inline-block;
      float: left;
      max-width: 49%;
      
      img {
        width: 100%;
        border-radius: 100%;
        border: 8px solid #F2F5F7;
        margin-bottom: 1em;
      }
      
      p, h3 {
        text-align: center;
      }
      
      span {
        display: inline-block;
      }
    }
    
    .ivan {
      float: right;
    }
  }
}
