#events main {
  max-width: 100%;
  text-align: center;
  
  div {
    display: inline-block;
    max-width: 30rem;
    margin: 0 2em;
  }
  
  h3 {
    margin: 0;
  }
  
  p {
    display: inline-block;
    margin: .5em;
  }
}
