$yellow: hsl(30, 50%, 95%);

#payment main {
  text-align: center;
  
  section.first { margin-top: 0; }
  h1 { margin: 0; }
  
  h3 {
    margin: 0 0 .5em;
  }
  
  .address {
    display: table;
    border-collapse: separate;
    margin: 0 auto;
    
    .field {
      display: table-row;
      
      .fieldname {
        display: table-cell;
        width: 50%;
        font-weight: bold;
        text-align: right;
        padding: .2em .5em;
      }
      
      .fieldvalue {
        display: table-cell;
        width: 50%;
        text-align: left;
        padding: .2em .5em;
      }
    }
  }
  
  .confirmation {
    margin-top: 1em;
    font-size: 0.9em;
  }
}
