.static#press {
  main {
    max-width: none;
    text-align: center;
  }
  
  .clipping {
    display: inline-block;
    margin: 2em;
    background: #F8F8F8;
    
    .image, .info {
      display: inline-block;
      vertical-align: top;
    }
    
    .image {
      width: 200px;
      img {
        width: 100%;
      }
    }
    
    .info {
      text-align: left;
      p {
        margin: .5rem;
        margin-left: 1rem;
      }
      
      h3 {
        padding: .5em 1em .3em;
        margin: 0;
      }
      
      a {
        display: inline-block;
        margin-right: 1em;
      }
    }
  }
  
  .resources {
    max-width: 40rem;
    margin: 2em auto;
    padding: 0 1em;
    text-align: left;
  }
}
