@import 'vars';

totem-specimen {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  cursor: pointer;
  transition: transform .8s cubic-bezier(.2,.2,.3,.9), opacity .8s cubic-bezier(.2,.2,.3,.9);
}


html.wide {
  totem-specimen {
    margin-left: -$wide-size/2;
    width: $wide-size;
    height: $wide-size;
    div {
      width: $wide-size;
      height: $wide-size;
    }
  }
}

html.tall {
  totem-specimen {
    margin-left: -$tall-size/2;
    width: $tall-size;
    height: $tall-size;
    div {
      width: $tall-size;
      height: $tall-size;
    }
  }
}
