@import 'vars';

info-selector {
  display: block;
  margin: .5vh 0 0;
  
  div {
    display: inline-block;
    padding: .4em .6em;
    font-weight: bold;
    cursor: pointer;
    
    &.active {
      background: $blue;
      color: $dark;
    }
  }
}

info-display {
  display: block;
  background: $blue;
  
  div {
    display: inline-block;
    text-align: left;
    padding: 1em;
  }
}

.padding {
  padding: .1em;
}
