@import "vars";

size-selector {
  display: inline-block;
  text-align: center;
  padding: 0 1em;
  border-bottom: 1px solid $med;
  
  div {
    position: relative;
    display: inline-block;
    padding: .5em;
    color: $dark;
  }
  
  &.multi div {
    cursor: pointer;

    &.in-bag::before {
      content: "★";
      position: absolute;
      top: -.5em;
      left: -.5em;
      width: 1.1em;
      height: 1.1em;
      line-height: 1.1em;
      text-align: center;
      border-radius: 100%;
      transform: rotate(-36deg);
      color: hsl(145, 40%, 75%);
    }
    
    &.selected {
      color: white;
      background: hsl(145, 40%, 75%);
    }
    
    &:hover:not(.selected) {
      background: $med;
    }
  }
}
