@import "vars";

totem-panel {
  display: block;
  padding-bottom: 1px; // Avoid background holes
  text-align: center;
  background: white;
  -webkit-font-smoothing: subpixel-antialiased;
  
  .top {
    div {
      display: inline-block;
      margin: 1vh .3vw;
      font-size: calc(1em + 1vmin);
    }
    
    .variation {
      color: $dark;
    }
  }
  
  .middle {
    & > * {
      display: inline-block;
      margin: .5vh .5vw;
    }
    
    .one-size {
    }
    
    .price {
      padding: .5em 1em;
      border-bottom: 1px solid $med;
    }
    
    bag-selector {
      display: inline-block;
      width: 8em;
      margin: 1vh 0 0;
      height: 2.4em;
      text-align: center;
      
      .in-the-bag {
        padding: .5em 0; // Make the effect on line height the same as the button
      }
    }
  }
}
