@import "vars";

totem-panel {
  display: block;
  padding-bottom: 1px; // Avoid background holes
  text-align: center;
  background: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  
  .top, .middle, .bottom {
    padding: .75vh 0;
  }
  
  .top {
    div {
      display: inline-block;
      margin: 0 .3vw;
      font-size: calc(1em + 1vmin);
    }
    
    .variation {
      color: $dark;
    }
  }
  
  .middle {
    // size-selector is defined in its own file
    
    price-selector {
      display: inline-block;
      padding: .5em .5em calc(.5em - 1px) 1em;
      margin: 0 .5em;
      border-bottom: 1px solid $med;
    }
    
    bag-selector {
      display: inline-block;
      width: 8em;
      height: 2.4em;
      text-align: center;
      vertical-align: bottom;
      
      .in-the-bag {
        padding: .5em 0; // Make the effect on line height the same as the button
      }
    }
  }
}
