body.wholesales {
  main {
    max-width: 62rem;
    min-width: 768px;
    padding: 0;
    
    .split {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
