@import "vars";

.wholesales#edit_product {
  .top {
    text-align: center;
    margin: 3em 0 4em;
    
    svg {
      display: inline-block;
      width: 100%;
      height: 32em; // Fixes IE bug
      max-width: 32em;
      margin-left: -4em;
      vertical-align: middle;
    }
    
    .info {
      display: inline-block;
      padding: 2em .5em;
      vertical-align: middle;
      text-align: left;
      max-width: 32em;
      
      h3 {
        margin-top: 1em;
      }
    }
  }
  
  .variations {
    text-align: right;
    
    h1 {
      text-align: right;
      margin-right: 3vw;
    }
    
    .nav {
      padding-right: 3vw;
    }
  }
  
  .variation {
    margin: 3em 3vw 0;
    
    .info {
      margin-bottom: -.5em;

      .name {
        font-size: 1.6em;
      }
      
      .price {
        font-size: 1.4em;
        margin-left: 1em;
      }
    }
    
    .variation-image {
      display: inline-block;
      width: 8em;
      height: 8em;
      background: #FAFAFA;
    }
    
    .builds {
      display: inline-block;
      vertical-align: middle;
    }
    
    .build {
      margin: 6px 0;
      text-align: right;
      
      .size-name {
        vertical-align: middle;
      }
      
      .pill {
        display: inline-flex;
        vertical-align: middle;
        
        &.perspective > * {
          margin: 0;
        }
        
        input {
          width: 2.5em;
          padding: calc(.5em - 1px) 0em;
          border: 0;
          background: #EEE;
          text-align: center;
          vertical-align: middle;
        }

        .button {
          flex: 1 1 auto;
          padding: .4rem .8rem;
          border: 0;
          border-left: 1px solid white;
          line-height: 1.4rem;
          font-size: 1.4em;
          
          &.five {
            font-size: 1.2em;
          }
        }
        
        & > * {
          border-radius: 0;
        }

        & > :first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
        
        & > :last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}
