@import 'vars';

.wholesales#edit_product {
  .top {
    text-align: center;
    margin: 3em 0 4em;
    
    svg {
      display: inline-block;
      width: 100%;
      height: 32em; // Fixes IE bug
      max-width: 32em;
      margin-left: -4em;
      vertical-align: middle;
    }
    
    .info {
      display: inline-block;
      padding: 2em .5em;
      vertical-align: middle;
      text-align: left;
      
      h3 {
        margin-top: 1em;
      }
    }
  }
  
  wholesale-builder {
    table {
      margin: 0;
      margin-left: auto;
      text-align: center;
    
      thead {
        font-weight: bold;
        z-index: 10;
        
        td {
          padding-top: 1em;
          padding-bottom: .5em;
        }
      }
    
      tbody tr:nth-child(odd) {
        background-color: transparent;
      }
      
      .preview {
        padding: 0;
        img { width: 6em; }
      }
      
      .quantity {
        display: inline-block;
        
        .five {
          font-size: 1em;
        }
      }
    }
  }
}
