@import "vars";

wholesale-preview {
  display: inline-block;
  margin-bottom: 2em;
  max-width: 30em;
  vertical-align: top;
  text-align: left;
  padding-left: 3vw;
  border-left: .4em solid $blue;
  
  h1 {
    text-align: left;
  }
  
  .item {
    display: inline-block;
    margin-right: 2em;
    text-decoration: none;
    animation: fade-in .5s .1s both;
    
    &:hover {
      .details {
        text-decoration: underline;
      }
    }
    
    .preview {
      width: 6em;
      height: 6em;
      background: #FAFAFA;
    }
    
    .details {
      display: inline-block;
      vertical-align: middle;
      
      .name {
        font-weight: bold;
      }
    }
  }
  
  .appear {
    animation: fade-in 1s .5s both;
  }
}
