wholesale-preview {
  display: inline-block;
  width: 20em;
  margin-left: 3vw;
  margin-bottom: 2em;
  vertical-align: top;
  text-align: left;

  h1 {
    text-align: left;
  }
  
  .item {
    animation: fade-in .5s .1s both;
    
    .preview {
      width: 6em;
    }
    
    .details {
      display: inline-block;
      vertical-align: middle;
      
      .name {
        font-weight: bold;
      }
    }
  }
  
  .appear {
    animation: fade-in 1s .5s both;
  }
}
