@import "vars";

body.wholesales {
  main {
    max-width: none;
    min-width: 768px;
    padding: 0;
    
    .split {
      text-align: center;
      
      & > * {
        display: inline-block;
        vertical-align: top;
      }
    }
    
    .nav {
      margin-bottom: 1em;
      padding: 1em 0;
      z-index: 1000;
    }
  }
}
