@import 'vars';

wholesale-builder {
  display: inline-block;
  padding-right: 3vw;
  margin-bottom: 2em;
  border-right: .4em solid $blue;
  vertical-align: top;
  
  h1 {
    text-align: right;
  }
}
