@import "vars";

.item {
  display: table-row;
  
  & > div {
    display: table-cell;
    padding: .2em .5em;
    @media (max-width: 600px) {
      padding: .2em;
    }
  }
  
  &.deleted .name {
    opacity: .5;
  }
  
  .quantity input {
    width: 2.2em;
  }
  
  .price {
    min-width: 3.2em;
    text-align: left;
  }
}
