#flash {
  display: none; // Pre-hide the flash, so that the JS can show it when it's ready
  position: absolute;
  top: 1em;
  left: 50%;
  padding: 1em;
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  box-shadow: 0 0 .5em -5px white;
  z-index: 3;
  cursor: pointer;
  transform: translate(-50%);
  animation: rainbow-background 5s linear infinite;
}
