<div class="wrapper">
  <h1>{{product.name}}</h1>

  <purchasing-info>
    <div class="variations">
      <label ng-repeat="variation in product.variations">
        {{variation.name}}
        <select ng-model="variation.choiceIndex" ng-change="checkChange($index)" ng-options="index*1 as variant.name for (index, variant) in variation.variants"></select>
      </label>
    </div>
    <div class="acceptance">
      <div class="price">$34.00</div>
      <button ng-click="addToCart(product)">Yes please!</button>
    </div>
  </purchasing-info>

  <descriptive-info>
    <div ng-bind-html="specimen.description"></div>
  </descriptive-info>
  
  
  <bottom-info>
    <custom-info>
      <div ng-repeat="info in product.infos"
           ng-click="showInfo(info)"
           ng-class="{active:(info == showingInfo)}">{{info.name}}</div>
    </custom-info>
    <shop-info>
      <div ng-repeat="info in shopInfos"
           ng-click="showInfo(info)"
           ng-class="{active:(info == showingInfo)}">{{info.name}}</div>
    </shop-info>
    <info-display ng-show="showingInfo">
      <div>{{showingInfo.content}}</div>
    </info-display>
  </bottom-info>
  
  <a class="closer" ng-click="close()">Close</a>
</div>
