<div class="wrapper">
  <identity-info>
    {{product.name}}
  </identity-info>

  <descriptive-info>
    <div ng-bind-html="specimen.description"></div>
  </descriptive-info>
  
  <purchasing-info>
    <div class="variations">
      <label ng-repeat="variation in product.variations">
        {{variation.name}}
        <select ng-model="variation.choiceIndex" ng-change="checkChange($index)" ng-options="index*1 as variant.name for (index, variant) in variation.variants"></select>
      </label>
    </div>
    <div class="acceptance">
      <div class="price">$34.00</div>
      <div class="add-to-cart">Add to Cart</div>
    </div>
  </purchasing-info>
  
  <bottom-info>
    <custom-info>
      <div>Sizing</div>
      <div>Gifting</div>
      <div>Uniqueness</div>
      <div>Tips</div>
    </custom-info>
    <shop-info>
      <div>Payment</div>
      <div>Shipping</div>
      <div>Returns</div>
      <div>Questions</div>
    </shop-info>
  </bottom-info>
  
  <a class="closer" ng-click="close()">Close</a>
</div>
