@import 'libs/inherit.scss';

deleter.button {
  @extend .unselectable;
  cursor: pointer;
  background: hsl(15, 100%, 75%);
  transition: transform .3s cubic-bezier(0.5, 2, 0.5, 2), background-color .2s, opacity .2s ease-out;
  
  &:hover, &:focus {
    background-color: hsl(10, 100%, 70%);
  }
  
  &:active, &.active {
    transition: transform .25s cubic-bezier(0.3, -1, 0.7, 2), background-color .2s, opacity 2s ease-in;
  }
  
  &.deleting {
    opacity: 0;
  }
}
