@import 'libs/inherit.scss';

deleter {
  @extend .unselectable;
  display: inline-block;
  
  .button {
    display: inline-block;
    padding: .5em 1em;
    border-radius: 5px;;
    color: white;
    background: hsl( 15, 100%, 75%);
    cursor: pointer;
    transition: 2s opacity;
    -webkit-font-smoothing: subpixel-antialiased;
    
    &.deleting {
      opacity: 0;
    }
  }
}
