$dark: #456;
$blue: hsl(200, 50%, 95%);
$yellow: hsl(30, 30%, 98%);

.orders#edit_product {
  main {
    max-width: none;
    text-align: center;
  }
  
  .back {
    margin-top: -.6em;
    padding: .6em 0;
    background: rgba(white, 0.95);
    
    a {
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
  
  svg {
    display: block;
    width: 100%;
    max-width: 26em;
    margin: 0 auto;
  }
  
  sticky-placeholder {
    display: inline-block;
    min-width: 15em;
    margin-right: 1em;
    vertical-align: top;
    text-align: left;
  }
  
  .preview-img {
    width: 5em;
  }

  .update-order {
    font-size: 1.5em;
    margin-top: 2rem;
  }
    
  .order-builder {
    display: inline-block;
    padding-right: 2em;
    border-right: .4em solid $blue;
    vertical-align: top;
    text-align: left;
    
    table {
      display: inline-table;
      margin: 0;
    }
    
    tbody tr:nth-child(odd) {
      background-color: transparent;
    }
    
    .quantity {
      display: inline-block;
      
      .input-row {
        margin-top: .2em;
        
        input {
          display: inline-block;
          width: calc(8em - 3px);
        }
      }
      
      .button-row {
        .button {
          width: 2rem;
          padding: .3em 0;
          margin-right: -1px;
          font-size: 0.8em;
          text-align: center;
          border: 1px solid #AAA;
          border-radius: 0;
          user-select: none;
          vertical-align: top;
          
          &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
          
          &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-right: 0;
          }
        }
      }
    }
  }
}
