.products#edit {
  
  main {
    max-width: none;
    text-align: center;
  }
  
  section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 2em 3em;
    border-top: 2px solid hsla(40, 50%, 80%, 0.5);
    padding: 2em 0 0;
  }
  
  form {
    width: 36em;
  }
  
  .sizes, .variations {
    margin: 1em 0;
    .size {
      margin: .5em;
      h3 {
        display: inline-block;
      }
      .button {
        margin-left: .5em;
        padding: .2em .5em;
      }
    }
  }
  
  .variation {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover span { text-decoration: underline; }
    
    img {
      width: 3.1em;
      height: 3.1em;
      background-color: #F8F8F8;
    }
    
    span {
      padding-left: .5em;
    }
  }
}
