.products#edit {
  
  main {
    max-width: none;
    text-align: center;
  }
  
  section {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 2em 3em;
    border-top: 2px solid hsla(40, 50%, 80%, 0.5);
    padding: 2em 0 0;
  }
  
  form {
    width: 36em;
  }
  
  table {
    margin: 0;
    
    tbody {
      font-size: 0.85em;
    }
    
    tr.un {
      background-color: rgba(red, 0.2);
    }
    
    td.un {
      color: red;
    }
    
    .save {
      width: auto;
      padding: calc(.2em + 1px) .4em;
      
      &.saving {
        transition: none;
        border-radius: 100%;
        animation: spin 1.2s cubic-bezier(0.5, -1, 0.5, 2) .2s infinite;
      }
    }
  }
  
  .quantity {
    width: 4em;
  }
  
  .variation {
    margin: 1em;
    
    .variant {
      margin: .2em 1em;
      
      .status {
        display: inline-block;
        padding: 0 .1em;
        color: green;
        
        &.un {
          color: red;
        }
      }
    }
    
    .new-variant {
      margin: .5em 1em;
    }
  }

  .new-variation {
    margin: 1em;
  }
  
  .info {
    margin: 1em;
  }

  .new-info {
    margin: 1em;
  }
  
  .totem-levels input {
    width: 3em;
  }
}

@keyframes spin {
  from { transform: translateY(0)    scale(1, 1); }
  30%  { transform: translateY(7px) scale(1.1, 0.9); }
  50%  { transform: translateY(-8px) scale(0.8, 1.3); }
  100% { transform: translateY(0)    scale(1, 1); }
}
