.products#edit {
  
  .variation {
    margin: 1em;
    
    .variant {
      margin: .2em 1em;
    }
    
    .new-variant {
      margin: .5em 1em;
    }
  }

  .new-variation {
    margin: 1em;
  }

  .info {
    margin: 1em;
  }

  .new-info {
    margin: 1em;
  }
}
