.products#preview_images {
  main {
    max-width: none;
    text-align: center;
  }
  
  section {
    max-width: none;
  }
  
  .failed-previews {
    display: none;
    &.show { display: block; }
    
    & > div {
      text-align: left;
      display: inline-block;
    }
  }
  
  .image {
    display: inline-block;
    width: 16em;
    margin: 1em .5em;
    vertical-align: top;
    
    img {
      max-width: 100%;
      margin-bottom: .4em;
    }
    
    span {
      display: block;
      font-size: 0.9em;
    }
  }
}
