footer {
  padding: 3em 0 2em;
  text-align: center;
  animation: fade-in .5s .2s both;
  
  .logo {
    a {
      display: inline-block;
      text-decoration: none;
      transition: transform .5s;

      &:hover {
        transition: transform 5s cubic-bezier(0, 1, 0, 1);
        transform: scale(1.1);
      }
    }
  }
  
  .nav {
    a {
      display: inline-block;
      margin: 1em .5vw;
    }
  }
  
  .social {
    background: currentColor;
    
    a {
      display: inline-block;
      width: 1.5em;
      margin: .6em;
      &:hover { transform: scale(1.1); }
      
      img {
        max-width: 100%;
      }
    }
  }

  .about {
    margin: 1.2em 0 .4em;
    
    img {
      vertical-align: -.2em;
      max-width: 1.2em;
      
      &:hover {
        cursor: none;
        transform: rotate(360deg);
        transition: transform .8s cubic-bezier(0.3, -.4, 0.5, 1);
      }
    }
  }
    
  .logo {
    font-size: 3em; // No modular scale because we're using a custom font
  }
}
