form {
  margin: 0 auto;
  
  & > div {
    margin: 1em 0;
  }
  
  div.field_with_errors {
    margin: 0;
    input, textarea {
      border-color: red;
      background: #FFE;
    }
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    
    &.spread { justify-content: space-between; }
    
    div {
      display: inline-block;
      flex: 0 1 auto;
    }
    
    & > * { margin-right: 2em; }
    & > *:last-child { margin-right: 0; }
  }
  
  .inline {
    label, input {
      display: inline-block;
    }
  }
}
