$D: hsl(167, 28%, 80%);
$C: hsl( 45, 30%, 84%);
$B: hsl( 15, 33%, 82%);
$A: hsl(188, 30%, 80%);
$row-height: 3.3em;

header {
  position: relative;
  background: white;
  margin: 0 auto;
  
  a {
    text-decoration: none;
  }
  
  .logo {
    position: absolute;
    text-align: center;
    top: $row-height * 1.7;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    
    a {
      display: inline-block;
      transform: scale(0.909);
      transition: transform .5s;
      
      &:hover {
        transition: transform 5s cubic-bezier(0, 1, 0, 1);
        transform: scale(1);
      }
      
      img {
        display: block;
        width: 8rem;
        margin: 0 auto;
        @media (max-width: 550px) { width: 6rem; }
        @media (max-width: 400px) { width: 5rem; }
      }
    }
    
    // @media (max-width: 700px) { top: $row-height * 1.2; }
    @media (max-width: 550px) { top: $row-height * 0.9; }
  }
  
  .bricks {
    text-align: center;
    letter-spacing: .15em;
  }

  header-row {
    display: flex;
    margin: 0 auto;
  }
  
  row-item {
    display: block;
    height: $row-height;
    line-height: $row-height;
    
    @media (max-width: 550px) {
      height: $row-height * .8;
      line-height: $row-height * .8;
    }
    
    &.out {
      flex: 1 3;
      &.s7 { flex-basis: 3em * 3; }
      &.s6 { flex-basis: 3em * 2; }
      &.s5 { flex-basis: 3em * 1; }
      &.s4 { flex-basis: 3em * 0; }
    }
    
    &.in {
      flex: 0 2 auto;
    }
    
    &.glyphs {
      display: flex;
      justify-content: space-around;
      
      a {
        display: inline-block;
        flex: 0 1 1.6em;
        &:hover { transform: scale(1.1); }
        
        img {
          margin-top: -.4em;
          width: 100%;
        }
      }
    }
    
    a {
      font-size: 1.1em;
      color: rgba(#543, 0.7);
      &:hover { text-decoration: underline; }
      @media (max-width: 550px) { font-size: 1em; }
    }
  }
  
  row-space {
    flex: 0 5 auto;
  }
  
  .s2 { width: 3em * 2; }
  .s4 { width: 3em * 4; }
  .s5 { width: 3em * 5; }
  .s6 { width: 3em * 6; }
  .s7 { width: 3em * 7; }
  .s8 { width: 3em * 8; }
  .s10 { width: 3em * 10; }
  
  .D { max-width: 3em * 30; }
  .C { max-width: 3em * 28; }
  .B { max-width: 3em * 26; }
  .A { max-width: 3em * 24; }
    
  .D .out {
    background-color: darken($D, 7%);
    border-bottom: .4rem solid darken($D, 10%);
  }
  
  .C .in {
    background-color: $C;
    border-bottom: .4rem solid darken($C, 4%);
  }
  
  .C .out {
    background-color: darken($C, 7%);
    border-bottom: .4rem solid darken($C, 10%);
  }
  
  .B .in {
    background-color: $B;
    border-bottom: .4rem solid darken($B, 4%);
  }
  
  .B .out {
    background-color: darken($B, 7%);
    border-bottom: .4rem solid darken($B, 10%);
  }
  
  .A .in {
    background-color: $A;
    border-bottom: .4rem solid darken($A, 4%);
  }
  
  .A .out {
    background-color: darken($A, 7%);
    border-bottom: .4rem solid darken($A, 10%);
  }
}
