$D: hsl(167, 28%, 80%);
$C: hsl( 45, 30%, 84%);
$B: hsl( 15, 33%, 82%);
$A: hsl(188, 30%, 80%);
$row-height: 3.3em;

header {
  position: relative;
  background: white;
  margin: 0 auto;
  
  @media (max-width: 600px) { font-size: 0.9em; }
  @media (max-width: 500px) { font-size: 0.75em; }
  @media (max-width: 400px) { font-size: 0.6em; }
  
  a {
    text-decoration: none;
  }
  
  .logo {
    position: absolute;
    text-align: center;
    top: $row-height * 1.7;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    
    a {
      // No modular scale because we're using a custom font
      font-size: 5.5em;
      @media (max-width: 600px) { font-size: 4em; }
      // @media (max-width: 500px) { font-size: 3em; }
    }
    
    @media (max-width: 650px) { top: $row-height * 1.2; }
    @media (max-width: 550px) { top: $row-height * 0.9; }
  }
  
  .bricks {
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase;
  }

  row {
    display: flex;
    margin: 0 auto;
  }
  
  block {
    display: block;
    flex: 1 4 auto;
    height: $row-height;
    line-height: $row-height;
    
    @media (max-width: 600px) {
      height: $row-height * .8;
      line-height: $row-height * .8;
    }
    
    &.in {
      flex: 0 2 auto;
    }
    
    &.glyphs {
      a {
        display: inline-block;
        width: 50%;
        padding: 0 .5em;
        &:hover { transform: scale(1.1); }
        
        img {
          margin-top: -.4em;
          max-width: 100%;
        }

        @media (max-width: 600px) {
          width: 42%;
        }
      }
    }
    
    a {
      font-size: 1.05em;
      color: rgba(#543, 0.7);
      
      &:hover {
        text-decoration: underline;
      }
      
      @media (max-width: 400px) { font-size: 1em; }
    }
  }
  
  space {
    flex: 0 5 auto;
  }
  
  .s2 { width: 3em * 2; }
  .s4 { width: 3em * 4; }
  .s5 { width: 3em * 5; }
  .s6 { width: 3em * 6; }
  .s7 { width: 3em * 7; }
  .s8 { width: 3em * 8; }
  .s10 { width: 3em * 10; }
  
  .D { max-width: 3em * 30; }
  .C { max-width: 3em * 28; }
  .B { max-width: 3em * 26; }
  .A { max-width: 3em * 24; }
    
  .D .out {
    background-color: darken($D, 7%);
    border-bottom: .4em solid darken($D, 10%);
  }
  
  .C .in {
    background-color: $C;
    border-bottom: .4em solid darken($C, 4%);
  }
  
  .C .out {
    background-color: darken($C, 7%);
    border-bottom: .4em solid darken($C, 10%);
  }
  
  .B .in {
    background-color: $B;
    border-bottom: .4em solid darken($B, 4%);
  }
  
  .B .out {
    background-color: darken($B, 7%);
    border-bottom: .4em solid darken($B, 10%);
  }
  
  .A .in {
    background-color: $A;
    border-bottom: .4em solid darken($A, 4%);
  }
  
  .A .out {
    background-color: darken($A, 7%);
    border-bottom: .4em solid darken($A, 10%);
  }
}
