$dark: #456;
$yellow: hsl(30, 30%, 98%);
$blue: hsl(200, 50%, 95%);

.wholesale#index {
  .actions {
    display: flex;
    justify-content: space-between;
    
    a {
      display: inline-block;
      padding: 1em;
      border: 1px solid $blue;
      background: $yellow;
      text-decoration: none;
      
      &:hover {
        color: $dark;
        text-decoration: underline;
      }
    }
  }
}
