<h1><%= @variation.name %></h1>
<h4 class="center"><%= "A variation of #{@product.name}" %></h4>

<%= form_for [:admin, @variation] do |f| %>
  <%= render "admin/variations/fields", f: f, edit: true %>
<% end %>
