<h1>New Variation</h1>
<h4 class="center"><%= "For the #{@product.name.titlecase}" %></h4>

<%= form_for [:admin, @product, @variation] do |f| %>
  <%= render "admin/variations/fields", f: f, edit: false %>
<% end %>
