#flash {
  display: none; // Pre-hide the flash, so that the JS can show it when it's ready
  position: absolute;
  top: 2vmin;
  left: 50%;
  padding: calc(5vmin + .5em);
  border-radius: 100%;
  text-align: center;
  font-size: 2em;
  box-shadow: 0 0 .5em -5px white;
  z-index: 3;
  cursor: pointer;
  transform: translate(-50%);
  animation: rainbow-background 1.3s linear infinite;
  
  .error { background-color: transparent; } // override the .error used on forms
}
