#flash {
  display: none; // Pre-hide the flash, so that the JS can show it when it's ready
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .5em;
  font-size: 2em;
  text-align: center;
  background: rgba(#FFE, 0.9);
  z-index: 3;
  cursor: pointer;
}
