<button-bar class="perspective">
  <% if body_id == "edit_product" && body_class == "wholesales" %>
    <%= link_to "< All Products", edit_wholesale_path, class: "back button" %>
  <% end %>
  
  <div ng-cloak ng-show="previewItemsCount > 0">
    <%= link_to "Checkout >", checkout_wholesale_path, class: "button" %>
  </div>
</button-bar>
