<wholesale-preview>
  <div class="sticky">
    <div class="nav" ng-class="{invisible:previewItemsCount == 0}">
      <div class="perspective">
        <%= link_to "Checkout >", checkout_wholesale_path, class: "button" %>
      </div>
    </div>

    <script>
      FEHU.orderItems = <%= preview_order_items_json(@merchant.current_order) %>
    </script>

    <h1>In Your Order</h1>
    <h3 class="appear" ng-hide="true">Loading...</h3>
    <h3 class="appear" ng-hide="previewItemsCount > 0">Nothing yet...</h3>
    <div class="items" ng-cloak ng-controller="PreviewCtrl">
      <a class="item" ng-repeat="item in sortedPreviewItems" ng-href="/wholesale/product/{{item.product_id}}">
        <img class="preview" ng-src="{{item.image}}">
        <span class="details">
          <span class="name">{{item.build_name}}</span>
          <span class="price">
            {{ item.quantity }} for ${{ item.quantity * item.price/100 }}
          </span>
        </span>
      </a>
      <h3 class="appear" ng-show="updatingItems">Updating...</h3>
    </div>
  </div>
</wholesale-preview>
