<div class="split">
  <wholesale-builder>
    <div class="nav perspective">
      <a class="invisible button">I am invisible!</a>
    </div>

    <h1>Add a Product to Your Order</h1>
    <div class="products">
      <% @products.each do |product| %>
        <a class="product" href="<%= product_wholesale_path(product.id) %>">
          <img src="<%=product.wholesale_image%>">
          <span><%= product.name %></span>
        </a>
      <% end %>
    </div>
  </wholesale-builder>

  <%= render "wholesales/wholesale_preview" %>

</div>
