<div class="primary row clear">
  <div class="row">
    <h2 class="col col3">Payment</h2>
    <div class="col col6">
      <h3>Payment Methods</h3>
      <p>
        Credit Card, e-Transfer, Cheque
      </p>
      <h3>Payment Terms</h3>
      <p>
        Payment is due before shipping.<br>
        <br>
        Net 30 is available upon request.
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="col col3">Minimums</h2>

    <div class="col col6">
      <h3>First Order Minimum</h3>
      <p>$100.00</p>
      <h3>Re-order Minimum</h3>
      <p>$100.00</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <h2 class="col col3">Shipping</h2>
    <div class="col col6">
      <h3>Shipping Method</h3>
      <p>FOB Origin (Red Deer, Alberta, Canada).<br>
        <br>
        Canada Post is our preferred carrier. We are also happy to ship with DHL or FedEx, at your discretion. Additionally, you are welcome to use your own account to pay for shipping.<br>
      </p>

      <h3>Drop Shipping</h3>
      <p>
        Drop shipping available on request.
      </p>

      <h3>Shipping Cost</h3>
      <p>We offer flat rate shipping for $15 within Canada and $25 within the US, when shipping with Canada Post, .</p>

      <h3>Estimated Production Time</h3>
      <p>3 weeks</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col col6 col-offset3">
      <h3>Product Customization</h3>
      <p>
        Accepts customization requests.
      </p>
      <h3>Returns, Damages, and Repairs</h3>
      <p>Returns &amp; Refunds<br>
        It is of the utmost importance that you are thrilled with the products you receive. As such, I want to give you ample opportunity to get to know my products and make sure that they are a good fit for your store. I offer a no-questions-asked return policy for the first 8 weeks. After 8 weeks I am happy to exchange products, but I'll ask that you cover shipping both ways.
      </p>
    </div>
  </div>
</div>
