<div id="stock-changed">
  <h1 class="page-title">Sorry: Someone beat you <br show-400> to the punch!</h1>

  <div class="messages">
    <p>Some of the items in your order have already sold.</p>
    <p>Please review the order before continuing.</p>
  </div>

  <br>

  <div class="little-preview">
    <% @order.items.each do |item| %>
      <% item.quantity.times do %>
        <div>
          <%= image_tag item.build.variation.wholesale_image if item.build.variation.wholesale_image %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="perspective">
    <a class="button alt" href="/wholesale/edit">Edit Order</a>
    <a class="button" href="/checkout">Checkout</a>
  </div>
</div>
