@import "vars";

.item {
  display: table-row;
  
  & > div {
    display: table-cell;
    padding: 0 .5em;
    @media (max-width: 600px) {
      padding: 0 .2em;
    }
  }
  
  .image {
    img {
      width: 4em;
    }
  }
  
  &.deleted .name {
    opacity: .5;
  }
  
  .quantity input {
    width: 2.2em;
    border-radius: 0;
    text-align: center;
  }
  
  &:first-of-type .quantity input {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  
  &:last-of-type .quantity input {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
   }

  
  .price {
    min-width: 3.2em;
    text-align: left;
  }
}
