@import "vars";

.showing-cart .contents {
  opacity: 1;
  pointer-events: auto;
}

.contents {
  display: inline-block;
  width: 100%;
  max-width: 32em;
  padding: 3em 2em 1em;
  border: .4rem solid $blue;
  background: white;
  box-shadow: 0 0 3em 1em #FED;
  transition: opacity .2s ease-out;
  opacity: 0;
  pointer-events: none;
  
  @media(max-width: 600px) {
    padding: 3em 2vw 1em;
  }
  
  h3 {
    text-align: center;
    margin-bottom: .5em;
    color: $dark;
    
    img {
      margin: 0 .2em 0;
      vertical-align: -.3em;
    }
  }
  
  .button {
    margin-top: .8em;
  }
}
