@media(max-width: 351px)  { [hide-350]  { display: none; } }
@media(max-width: 401px)  { [hide-400]  { display: none; } }
@media(max-width: 501px)  { [hide-500]  { display: none; } }
@media(max-width: 601px)  { [hide-600]  { display: none; } }
@media(max-width: 701px)  { [hide-700]  { display: none; } }
@media(max-width: 801px)  { [hide-800]  { display: none; } }
@media(max-width: 901px)  { [hide-900]  { display: none; } }
@media(max-width: 1001px) { [hide-1000] { display: none; } }

@media(min-width: 350px)  { [show-350]  { display: none; } }
@media(min-width: 400px)  { [show-400]  { display: none; } }
@media(min-width: 500px)  { [show-500]  { display: none; } }
@media(min-width: 600px)  { [show-600]  { display: none; } }
@media(min-width: 700px)  { [show-700]  { display: none; } }
@media(min-width: 800px)  { [show-800]  { display: none; } }
@media(min-width: 900px)  { [show-900]  { display: none; } }
@media(min-width: 1000px) { [show-1000] { display: none; } }
