.hide-edit {
  .edit {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin-left: .5rem;
    visibility: hidden;
  }
  
  &:hover .edit {
    visibility: visible;
  }
}
