.image-uploader {
  .progress-bar {
    display: none;
    background: hsl(145, 40%, 75%);
    border-radius: 5px;
    text-align: right;
    color: white;
    opacity: .5;
    cursor: none;
    span {
      display: inline-block;
    }
  }
}
