.image-uploader {
  display: flex;
  align-items: flex-end;
  
  .preview {
    margin-right: 1em;
    
    img {
      width: 6em;
      background: #F7F7F7;
    }
    
    img[src=""] {
      height: 6em;
    }
  }
  
  .inputs {
    flex: 1 1 auto;
    
    .progress-bar {
      display: none;
      padding: .5em 1em;
      border-radius: 5px;
      text-align: right;
      color: white;
      background: hsl(29, 55%, 36%);
      
      span {
        display: inline-block;
      }
    }
  }
}
