.input-with-buttons {
  .button-row {
    display: flex;
    flex-flow: row nowrap;
    // width: 6em;
    
    .button {
      flex: 1 1 1%;
      padding: 0;
      border-radius: 0;
      border-bottom: 1px solid #706F6D;
      text-align: center;
      line-height: 2rem;
      user-select: none;
      vertical-align: top;
      
      &:first-child {
        border-left: 1px solid #706F6D;
        border-bottom-left-radius: 5px;
      }
      
      &:last-child {
        border-right: 1px solid #706F6D;
        border-bottom-right-radius: 5px;
        margin-right: 0;
      }
    }
  }
  
  .input-row {
    border: 1px solid #706F6D;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden; // Crops the top right corner
    
    span {
      padding-left: .5em;
    }
    
    input[type="number"] { // We need the [type] to override input.scss
      display: inline-block;
      padding: .5em 0;
      width: 3em;
      background: #F2F2F2;
      text-align: center;
      border: 0;
      border-radius: 0;
    }
  }
}
