.modernizr { display: none; }

.no-csspointerevents {
  main, header-row, footer .nav { display: none; }
  
  .logo {
    position: static;
    transform: none;
    text-align: center;
    margin-top: 2em;
  }
  
  .modernizr {
    display: block;
  }
}
