@import 'vars';

info-selector {
  display: block;
  margin: .5vh 0 0;
  
  div {
    display: inline-block;
    padding: .4em .6em;
    font-weight: bold;
    cursor: pointer;
    
    &.active {
      background: $med;
      color: $dark;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
}

info-display {
  display: block;
  
  div {
    text-align: left;
    padding: 1em;
    margin: 0 3vmin 3vmin;
    border-top: 4px solid $med;
    background: #F8F8F8;
  }
  
  h4 { margin-bottom: 0; }
  p { margin-top: 0; }
  
  p + h4 {
    margin-top: 1em;
  }
}

.padding {
  padding: .1em;
}
