@import 'vars';

panels-wrapper {
  position: absolute;
  display: block;
  top: 0; // Set by JS
  left: 2vw; // Set by JS
  width: 96vw;
  text-align: center;
  transform: translateY(5vmin);
  transition: opacity .7s ease-in, transform .7s;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 0;
  z-index: 20;
  pointer-events: none;

  &.showingPanel {
    opacity: 1;
    overflow: visible;
    transform: translateY(0);
    transition: opacity .4s ease-out, transform .7s;
    pointer-events: auto;
  }
}
