@import 'vars';

.showingPanel panels-wrapper {
  opacity: 1;
  pointer-events: auto;
}

panels-wrapper {
  position: absolute;
  display: block;
  left: 50%;
  text-align: center;
  box-shadow: 0 6px 48px hsla(210, 40%, 10%, .7);
  opacity: 0;
  transition: opacity .3s linear;
  pointer-events: none;
  z-index: 3;
  
  top-spacer {
    display: block;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 0 2px 1px white inset;
  }
}
