@import 'vars';

.showingPanel panels-wrapper {
  opacity: 1;
  pointer-events: auto;
}

panels-wrapper {
  position: absolute;
  display: block;
  left: 50%;
  text-align: center;
  box-shadow: 0 0 2px hsl(210, 100%, 20%), 0 8px 48px hsla(210, 50%, 15%, .5);
  opacity: 0;
  transition: opacity .3s linear;
  pointer-events: none;
  z-index: 3;
  
  top-spacer {
    display: block;
    width: 100%;
    pointer-events: none;
    border-color: white;
    border-style: solid;
  }
}
