@import 'vars';

panel-closer {
  display: inline-block;
  position: absolute;
  top: -1.2em;
  right: -1.2em;
  width: 2.4em;
  height: 2.4em;
  line-height: 2.2em;
  border: 1px solid rgba($dark, .5);
  border: 1px solid $med;
  border-radius: 100%;
  text-align: center;
  text-decoration: none;
  color: $dark;
  background: #FFF;
  cursor: pointer;
  
  &:hover {
    text-decoration: underline;
    border: 1px solid $dark;
  }
  
  @media(max-width: 53em) {
    top: 0;
    right: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
  }
}
