@import "vars";

quantity-selector {
  display: flex;
  max-width: 30em;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid $med;
  font-size: 1.1em;
  
  .less, .more {
    flex: 0 0 2em;
    padding: .4em 0;
    border-radius: 0;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  .subtotal {
    flex: 1 1 auto;
    vertical-align: middle;
    
    .quantity {
      display: inline-block;
      min-width: 1.8em;
      height: 1.8em;
      line-height: 1.8em;
      border: 0;
      text-align: center;
      border-radius: 100%;
      background: $blue;
    }
    
    .price {
      display: inline-block;
    }
  }
}
