@import "vars";

quantity-selector {
  margin: 0 auto;
  align-items: center;
  font-size: 1.1em;
  
  .subtotal {
    vertical-align: middle;
    
    .quantity {
      display: inline-block;
      min-width: 1.8em;
      height: 1.8em;
      line-height: 1.8em;
      border: 0;
      text-align: center;
      border-radius: 100%;
      background: $blue;
    }
    
    .price {
      display: inline-block;
    }
  }
}
