@import "vars";

quantity-selector {
  display: block;
  margin: 0 auto 1vh;
  font-size: calc(1em + .2vh);
  
  .subtotal {
    display: inline-block;
    margin: 0 2vw;
  }
  
  .more, .less {
    margin: 0;
    padding: 1vh 2vh;
    border-radius: 0;
    font-size: 1.3em;
    color: $dark;
    background: $blue;
  }
}
