@import "vars";

size-selector {
  display: inline-block;
  text-align: center;
  padding: 0 1em;
  border-bottom: 1px solid $med;
  
  div {
    display: inline-block;
    padding: .5em;
    color: $dark;
    cursor: pointer;
    
    &.selected {
      color: white;
      background: hsl(145, 40%, 75%);
    }
    
    &:hover:not(.selected) {
      background: $med;
    }
  }
}
