@import "vars";

size-selector {
  display: inline-flex;
  flex-flow: row wrap;
  border-left: 1px solid $med;
  
  div {
    flex: 1 0 auto;
    padding: .5em .5em;
    border-right: 1px solid $med;
    border-bottom: 1px solid $med;
  }
}
