@import "vars";

size-selector {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid $med;
  justify-content: center;
  
  div {
    flex: 0 0 auto;
    padding: .5em .5em;
    background: $med;
  }
}
