@import "vars";

totem-panel {
  display: block;
  padding-bottom: 1px; // Avoid background holes
  text-align: center;
  background: white;
  -webkit-font-smoothing: subpixel-antialiased;
  
  .top {
    div {
      display: inline-block;
      margin: 1vh .3vw;
      font-size: calc(1em + 1vmin);
    }
    
    .variation {
      color: $dark;
    }
  }
  
  .middle {
    & > * {
      margin: .5vh .5vw;
    }
    
    .price {
      display: inline-block;
      padding: .5em 1em;
      border-bottom: 1px solid $med;
    }
  }
}
