@import 'vars';

totem-panel {
  display: block;
  position: relative;
  max-width: 50em;
  margin: 0 auto;
  padding: 0 0 .5em;
  border: 1px solid hsl(200, 50%, 90%);
  background: white;
  box-shadow: 0 6px 8px -4px hsl(200, 20%, 70%), 0 50px 200px 10px white;
  -webkit-font-smoothing: subpixel-antialiased;
  
  h1 {
    color: $dark;
    margin: 0;
    padding: .2em 0;
  }
}
