@import "vars";

variation-selector {
  display: flex;
  max-width: 30em;
  margin: 0 auto;
  align-items: center;
  border-top: 1px solid $med;
  border-bottom: 1px solid $med;
  font-size: 1.1em;
  
  .prev, .next {
    flex: 0 0 2em;
    padding: .4em 0;
    border-radius: 0;
    font-family: "Helvetica Neue", sans-serif;
  }
  
  variation-name {
    flex: 1 1 auto;
  }
}
