<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hi pinky!</p>

<p><%= @order.address.email %> has just paid their wholesale order invoice via credit card.</p>

<p>Next step: get the order packaged up, ship it, and mark it as shipped on the website!</p>

<p>Wigglestinks!</p>
