<div id="ie">
  <h1><% random_error_message %></h1>
  <h2>Your web browser is a bit too old for our website.</h2>
  <p>Your browser (Internet Explorer) is putting your computer at risk.</p>
  <h3>Please upgrade to the latest version of
    <a href="//www.google.com/chrome">Google Chrome</a>,
    <a href="//firefox.com/">Firefox</a>, or
    <a href="//www.apple.com/safari/">Safari</a>.
  </h3>
</div>
