<div id="ie">
  <h1><% random_error_message %></h1>
  <h2>Your web browser is a bit too old for our website.</h2>
  <p>And!!!! It's putting your computer at risk. Be safe out there.</p>
  <h3>For best results, you should download
    <a href="//www.google.com/chrome">Google Chrome</a>, or
    <a href="//firefox.com/">Firefox</a>.
    They're free, and they update themselves, so you never have to worry about this nonsense again.
    Don't thank us, we know, you're welcome <3.
  </h3>
  <p>If you'd like to place an order for wholesale, email us at freyja@fehuleather.com and we will send you a line sheet.</p>
  <p>If you just came by to check out our products or maybe do some shopping for yourself, please take a look at our <a href="https://www.etsy.com/shop/FehuDesign">Etsy shop</a>.</p>
</div>
