<div class="ie">
  <h1>Bad news — your web browser is antique.</h1>
  <p>It doesn't have the capabilities needed by our site. And it's <b>putting your computer at risk</b> — Microsoft isn't fixing security holes in this browser anymore! Be safe out there.</p>
  <h3>How to fix this? Simple:</h3>
  <p>Go get <a href="https://www.google.com/chrome" rel="nofollow">Google Chrome</a> or <a href="https://firefox.com/" rel="nofollow">Firefox</a>.</p>
  <p>They're free! And they update themselves, so you never have to worry about this nonsense again. Don't thank us, we know, you're welcome ;)</p>
  <br>
  <p><em>"But what if I don't want to fuss with my web browser?"</em></p>
  <p>
    If you'd like to place an order for wholesale, just email us at <em>ivan@fehuleather.com</em> and we will send you a line sheet.
    Or, if you just came by to check out our products or maybe do some shopping for yourself, please take a look at our <a href="https://www.etsy.com/shop/FehuDesign" rel="nofollow">Etsy shop</a>.
  </p>
</div>
