<div class="perspective image-uploader">
  <div class="preview">
    <%= image_tag f.object.src if f.object.src? %>
  </div>
  <input type="hidden" data-presigned-post="<%= presigned_post %>">
  <%= f.label field, name %>
  <%= f.file_field field %>
  <div class="progress-bar button"><span>⊙‿‿⊙</span></div>
</div>
