<div class="perspective image-uploader" data-presigned-post="<%= presigned_post %>">
  <div class="preview">
    <img src="<%=f.object[field]%>">
  </div>
  <div class="inputs">
    <%= f.label field, name %>
    <%= f.file_field field %>
    <div class="progress-bar"><span>⊙‿‿⊙</span></div>
  </div>
</div>
