<shopping-cart>
  <div class="icon"
       ng-class="{showing:cartShowing}"
       ng-click="toggle()"><%= image_tag "bag.svg" %></div>

  <div class="contents" ng-class="{showing:cartShowing}">
    <h3>In The Bag</h3>
    <div class="items">
      <div class="item" ng-repeat="item in cartItemsArray | orderBy:item.choiceName.length">
        <div class="name">{{item.choiceName}}</div>
        <div class="quantity"><input type="number" min="0" max="99" ng-model="item.quantity"></div>
        <div class="price">${{item.quantity * item.cents / 100}}</div>
        <div class="remove"><div ng-click="remove(item)">x</div></div>
      </div>
    </div>
    <div ng-hide="cartItemsArray.length">
      Nothing... Yet ;)
      <br>
    </div>
    <div class="perspective" ng-show="cartItemsArray.length">
      <a class="button" href="/checkout" ng-click="cartShowing = false">Checkout Time</a>
    </div>
    <!-- <div ng-click="reset()">reset</div> -->
  </div>
</shopping-cart>
