<shopping-cart>
  <div class="icon"><%= image_tag "bag.svg" %></div>
  
  <div class="contents-wrapper">
    <div class="contents">
      <h2 class="its-in" >It's In</h2>
      <h2 class="the-bag" >The Bag</h2>
      <div class="cart-items"></div>
      <div class="cart-subtotal perspective">
        <div cart-subtotal></div>
        <currency-selector>
          <img src="<%= asset_path("cad.svg") %>" class="cad hide">
          <img src="<%= asset_path("usd.svg") %>" class="usd hide">
        </currency-selector>
      </div>
      <div class="clear">Remove All</div>
      <div class="perspective">
        <a class="button" href="/checkout">Checkout Time</a>
      </div>
    </div>
  </div>
</shopping-cart>
