<h1><%=item.variation.product.name%></h1>

<variation-selector>
  <div class="prev button">&lt;-</div>
  <variation-name><%=item.variation.name%></variation-name>
  <div class="next button">-&gt;</div>
</variation-selector>

<% if item.variation.product.sizes.count > 1 %>
  <size-selector>
    <% item.variation.product.sizes.each do |size| %>
      <div><%= size.name %></div>
    <% end %>
  </size-selector>
<% end %>

<purchasing-info>
  <div class="subtotal">
    <div class="input-with-buttons">
      <input type="number"
             class="quantity"
             step="1">
      <div class="button-row perspective">
        <div class="button">-</div>
        <div class="button">+</div>
      </div>
    </div>
    for
    <div class="price">$100</div>
  </div>
  
  <purchase-status class="perspective submit">
    <button>Yes Please!</button>
  </purchase-status>
  
  <purchase-status class="perspective submit">
    <button ng-click="Cart.add(currentBuild)">Update Quantity</button>
  </purchase-status>
  
  <purchase-status class="cart">
    <div>It's in <a>The Bag</a></div>
  </purchase-status>
</purchasing-info>

<bottom-info>
  <custom-info>
    <div>Sizing</div>
  </custom-info>
  <shop-info>
    <div>Shipping</div>
    <div>Refunds</div>
    <div>Uniqueness</div>
  </shop-info>
  <info-display>
    <div>Info Content</div>
  </info-display>
</bottom-info>
