@import "vars";

.item {
  display: table-row;
  
  & > div {
    display: table-cell;
    padding: 0 .5em;
    @media (max-width: 600px) {
      padding: 0 .2em;
    }
  }
  
  .image {
    img {
      width: 3.1em;
      height: 3.1em;
      margin-top: -.5em;
      background: #F8F8F8;
    }
  }
  
  &.deleted .name {
    opacity: .5;
  }
  
  .quantity input {
    width: 2.2em;
    text-align: center;
  }
    
  .price {
    min-width: 3.2em;
    text-align: left;
  }
}
