@import "vars";

.showing-cart .contents {
  opacity: 1;
  pointer-events: auto;
}

.contents {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 36em;
  padding: 1em 2em 1em;
  border-top: 4em solid $blue;
  border-radius: 4px;
  background: white;
  transition: opacity .2s ease-out;
  opacity: 0;
  pointer-events: none;
  
  @media(max-width: 600px) {
    padding: 1em 2vw 1em;
  }
  
  h2 {
    position: absolute;
    text-align: center;
    color: $dark;
    top: -1.9em;
  }
  
  .its-in {
    right: calc(50% + 1.3em);
  }
  
  .the-bag {
    left: calc(50% + 1.3em);
  }
  
  .button {
    margin-top: .8em;
  }
}
