<section class="first">
  <h1>Ready to Rock?</h1>
</section>

<section>
  <h3>The Goodies You'll Receive</h3>

  <div class="items">
    <div class="item" ng-repeat="item in cartItemsArray | orderBy:item.choiceName.length">
      <div class="name">{{item.choiceName}}</div>
      <div class="quantity"><input type="number" min="0" max="99" ng-model="item.quantity"></div>
      <div class="price">${{item.quantity * item.cents / 100}}</div>
      <div class="remove"><div ng-click="remove(item)">x</div></div>
    </div>
    
    <div class="item subtotal">
      <div class="name">Total</div>
      <div class="quantity">{{totalQuantity(cartItemsArray)}} items</div>
      <div class="price">${{totalPrice(cartItemsArray)}}</div>
      <div></div>
    </div>
  </div>

</section>

<section>
  <h3>The Place We'll Send Them</h3>

  <div class="address">
    
    <div class="field">
      <div class="fieldname">Name</div>
      <div class="fieldvalue">{{shippingAddress.name}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Email</div>
      <div class="fieldvalue">{{shippingAddress.email}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Address</div>
      <div class="fieldvalue">{{shippingAddress.address1}}</div>
    </div>
    
    <div class="field" ng-show="shippingAddress.address2">
      <div class="fieldname"> </div>
      <div class="fieldvalue">{{shippingAddress.address2}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">City</div>
      <div class="fieldvalue">{{shippingAddress.city}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{shippingAddress.country == "United States" ? "State" : "Province"}}</div>
      <div class="fieldvalue">{{shippingAddress.provinceState}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code</div>
      <div class="fieldvalue">{{shippingAddress.postal}}</div>
    </div>

    <div class="field">
      <div class="fieldname">Country</div>
      <div class="fieldvalue">{{shippingAddress.country}}</div>
    </div>

    
  </div>
  
  <div class="confirmation">See a mistake? <a href="/checkout">Fix It</a></div>

</section>

<section>
  <div class="stripe">
    <button>Pay with Card</button>
  </div>
</section>
