.wholesale#login {
  main {
    max-width: 32em;
  }
  
  label {
    width: 100%;
    
    input {
      margin-top: .2em;
    }
  }
  
  .perspective {
    max-width: 8em;
    margin: 0 auto;
  }
}
