.products#index {
  
  .kingdom {
    padding: 2em 0;
    
    .product {
      margin: 1em;
      
      .variation {
        margin: 1em;
        
        .variant {
          margin: 1em;
        }
        
        .new-variant {
          margin: 1em 0;
        }
      }
      
      .new-variation {
        margin: 1em 0;
      }
      
      .info {
        margin: 1em;
      }
      
      .new-info {
        margin: 1em 0;
      }
    }

    .new-product {
      margin: .2em 0 1.5em;
    }
  }
  
  .new-kingdom {
    text-align: center;
    margin: 1em 0;
  }
}
