#checkout main {
  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    & > * {
      flex: 1 1 auto;
      padding-right: .5em;
      
      &:last-child {
        padding-right: 0;
      }
    }
    
    &.two > * {
    }
    
    &.three > * {
    }
    
    & > .shrink {
    }
  }
  
  .set > label {
    width: 100%;
  }
  
  label, .set {
    margin: 0;
  }
  
  input, select {
    display: block;
  }
  
  input {
    margin: .1em 0;
  }
  
  select {
    margin: .4em 0 .1em;
  }
}
