#events {
  section {
    max-width: 30rem;
    margin: 0 auto 3em;
    text-align: center;
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    text-align: left;
    display: inline-block;
    margin: .5em;
  }
}
