#locations main {
  max-width: 100%;
  
  form {
    max-width: none;
    font-size: 1.1em;
    margin: 1.2em 0 2.5em;
    text-align: center;
    
    input {
      width: auto;
    }
    
    select {
      margin-left: 1em;
    }
  }
  
  .country {
    text-align: center;
  }
  
  .province {
    display: inline-block;
    max-width: 30rem;
    margin: 2em;
    vertical-align: top;
    text-align: left;
  }
  
  .location {
    margin-bottom: 3em;
    
    address {
      margin: .5em 0;
      
      pre {
        margin: 0;
      }
    }
  }
}
