#locations {
  form {
    max-width: none;
    font-size: 1.1em;
    margin: 1.2em 0 2.5em;
    text-align: center;
    
    input {
      width: auto;
    }
    
    select {
      margin-left: 1em;
    }
  }
  
  .locations {
    max-width: 30rem;
    margin: 0 auto;
  }

  .location {
    margin-bottom: 3em;
    
    address {
      margin: .5em 0;
      
      pre {
        margin: 0;
      }
    }
  }
}
