$dark: #456;
$yellow: hsl(30, 30%, 98%);
$blue: hsl(200, 50%, 95%);

.merchant#index, .merchant#edit {
  main {
    max-width: 50rem;
  }

  .actions {
    display: flex;
    justify-content: center;
    max-width: none;

    a {
      display: inline-block;
      margin: 0 .5em;
      padding: 1em;
      border: 1px solid $blue;
      background: $yellow;
      text-decoration: none;

      &:hover {
        color: $dark;
        text-decoration: underline;
      }
    }
  }

  form {
    .fields {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-end;

      .field {
        flex: 0 1 48%;
        margin: .5em 0;

        label {
          width: 100%;
        }
      }
    }

    .perspective {
      max-width: 8em;
      margin: 0 auto;
    }
  }
}
