.merchant#login,
.merchant#login_post,
.merchant#check_password,
.merchant#check_password_post,
.merchant#create_password,
.merchant#create_password_post,
.merchant#details,
.merchant#details_post,
.merchant#send_password_reset,
.merchant#reset_password,
.merchant#reset_password_patch {
  main {
    max-width: 32rem;

    label {
      width: 100%;

      input {
        margin-top: .2em;
      }
    }

    .perspective {
      max-width: 8em;
      margin: 0 auto;
    }
  }
}
