<h1 class="page-title">Who In The Hoot Are We?</h1>

<section class="who">
  <div class="person">
    <%= image_tag "freyja.jpg" %>
    <h3><b>Freyja Ulveland</b></h3>
    <p>Leatherwork, Design, Photography</p>
  </div>
  
  <div class="person">
    <%= image_tag "ivan.jpg" %>
    <h3>Ivan Reese / Monsters</h3>
    <p>Website & Writing / Sleeping on the job</p>
  </div>
  
  <p style="text-align: center; padding-top: 1.5em; clear: both;">Email us: <em>freyja@fehuleather.com</em></p>
</section>
<section>
  <h3>History</h3>
  <p class="columns">Freyja started making leather cuffs back in 2012-ish. They were wildly popular from the outset, and she loved working with leather, so it gradually snowballed into a full-fledged business. Planning for the future, she researched and developed a number of natural dyes and processes, so that she'd feel safe and healthy having children while continuing to create her leather goods.</p>
</section>
<section>
  <h3>Philosophy</h3>
  <p class="columns">Leather tells a great story. The techniques born at the dawn of civilization have grown up alongside humanity. Today it is a material of high fashion and pure function, and we absolutely love it. As modern leatherworkers, we are scientific and artistic, methodical experimenters and expressive through craft. We make pieces, not products. We do as much as we can by hand so our work feels true and distinct. If you like our leather here, you'll love it more with a month to wear-in, with a year of friends and strangers asking about it, and a decade of it being part of your story.</p>
</section>
