<h1 class="page-title">Take a Gander at Our Flock</h1>

<section>
  We invite you to take a look at our <a href="<%=ENV.fetch("S3_PATH")%>/rails/catalog/fehu-spring-2016.pdf">Spring 2016 Catalog</a>.
</section>

<section>
  <div class="head-bubble"><%= image_tag "ivan.jpg" %></div>
  If you have any questions or are interested in placing an order, please email Ivan at <em>ivan@fehuleather.com</em>
</section>
