<h1>Check Me Out</h1>

<div class="info-popup" ng-show="showEmailPopup">
  We'll send you an email to confirm your order — and that's all. No spam, no nonsense.
  <div class="close" ng-click="showEmailPopup = false">Close</div>
</div>

<section ng-cloak>
  <form novalidate>
    <div class="row two">
      <label>
        Name
        <input type="text" ng-model="checkoutInfo.shippingAddress.name">
      </label>

      <label>
        Email <div class="info-prompt" ng-click="showEmailPopup = !showEmailPopup">?</div>
        <input type="email" ng-model="checkoutInfo.shippingAddress.email">
      </label>
    </div>
    
    <div class="row two">
      <div class="set">
        <label>
          Street Address
          <input type="text" ng-model="checkoutInfo.shippingAddress.address1" placeholder="Line 1">
        </label>
        <input type="text" ng-model="checkoutInfo.shippingAddress.address2" placeholder="Line 2">
      </div>
      
      <label>
        City
        <input type="text" ng-model="checkoutInfo.shippingAddress.city">
      </label>
    </div>
    
    <div class="row three">
      <label class="shrink">
        Country
        <select ng-model="checkoutInfo.shippingAddress.country">
          <option>Canada</option>
          <option>United States</option>
        </select>
      </label>
      
      <label class="province">
        {{checkoutInfo.shippingAddress.country == "United States" ? "State" : "Province"}}
        <input type="text" ng-model="checkoutInfo.shippingAddress.provinceState">
      </label>
      
      <label class="postal">
        {{checkoutInfo.shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code
        <input type="text" ng-model="checkoutInfo.shippingAddress.postal">
      </label>
      
    </div>
  </form>
  
  <p>Your address is saved here until you close this browser tab.</p>
</section>

<section class="perspective center">
  <a class="button" href="/payment">Continue</a>
</section>
