<% content_for :title do "Checkout - Fehu Inc." end %>
<% content_for :description do "Let's send you some leather love!" end %>

<h1>Check Me Out</h1>

<section ng-cloak>
  <h4>To whom should we ship your order?</h4>
  <form class="address-form" ng-controller="Checkout" name="checkoutForm" ng-submit="submit()" novalidate>
    <div class="row two">
      <label>
        Name
        <input type="text" ng-model="checkoutInfo.shippingAddress.name" required>
      </label>

      <label>
        Email <div class="info-prompt" ng-click="showEmailPopup = !showEmailPopup">?</div>
        <input type="email" ng-model="checkoutInfo.email" required>
      </label>
    </div>
    
    <div class="row two">
      <div class="set">
        <label>
          Address
          <input type="text" ng-model="checkoutInfo.shippingAddress.address1" placeholder="Line 1" required>
        </label>
        <input type="text" ng-model="checkoutInfo.shippingAddress.address2" placeholder="Line 2">
      </div>
      
      <label>
        City
        <input type="text" ng-model="checkoutInfo.shippingAddress.city" required>
      </label>
    </div>
    
    <div class="row three">
      <label class="shrink">
        Country
        <select ng-model="checkoutInfo.shippingAddress.country">
          <option>Canada</option>
          <option>United States</option>
        </select>
      </label>
      
      <label class="province">
        {{checkoutInfo.shippingAddress.country == "United States" ? "State" : "Province"}}
        <input type="text" ng-model="checkoutInfo.shippingAddress.provinceState" required>
      </label>
      
      <label class="postal">
        {{checkoutInfo.shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code
        <input type="text" ng-model="checkoutInfo.shippingAddress.postal" required>
      </label>
      
    </div>
  
    <div class="center">
      <div class="perspective inbl">
        <input type="submit" class="button" value="Continue" ng-disabled="checkoutForm.$invalid">
      </div>
    </div>
    
    <div class="info-popup" ng-show="showEmailPopup" ng-click="showEmailPopup = false" ng-cloak>
      We'll send you an email to confirm your order — and that's all. No spam, no nonsense.
      <div class="close">Close</div>
    </div>
  </form>
</section>
