<h1>Check Me Out</h1>

<div class="info-popup" ng-show="showEmailPopup">
  We'll send you an email to confirm your order — and that's all. No spam, no nonsense.
  <div class="close" ng-click="showEmailPopup = false">Close</div>
</div>

<form novalidate>
  <h3>Shipping Address</h3>
  
  <div class="row two">
    <label>
      Name
      <input type="text" ng-model="shippingAddress.name">
    </label>
    
    <label>
      Email <div class="info-prompt" ng-click="showEmailPopup = !showEmailPopup">?</div>
      <input type="email" ng-model="shippingAddress.email">
    </label>
  </div>
  
  <hr>
  
  <div class="row two">
    <div class="set">
      <label>
        Address
        <input type="text" ng-model="shippingAddress.address1" placeholder="Line 1">
      </label>
      <input type="text" ng-model="shippingAddress.address2" placeholder="Line 2">
    </div>
    
    <label>
      City
      <input type="text" ng-model="shippingAddress.city">
    </label>
  </div>
  
  <div class="row three">
    <label class="shrink">
      Country
      <select ng-model="shippingAddress.country">
        <option>Canada</option>
        <option>United States</option>
      </select>
    </label>
    
    <label class="province">
      {{shippingAddress.country == "United States" ? "State" : "Province"}}
      <input type="text" ng-model="shippingAddress.provinceState">
    </label>
    
    <label class="postal">
      {{shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code
      <input type="text" ng-model="shippingAddress.postal">
    </label>
    
  </div>
  
  <hr>
  
  <div class="perspective center">
    <a class="button" href="/payment">Continue</a>
  </div>
</form>
