<script>
  FEHU.locations = <%= raw @locations.to_json %>
</script>

<h1 class="page-title">Find Us In Your Neck Of The Woods</h1>

<div ng-controller="LocationsCtrl">
  <form>
    <label>
      <span>Province/State:</span>
      <select ng-model="searchProvince" ng-options="value for value in searchProvinces"></select>
    </label>
  </form>
  
  <div class="locations">
    <div class="country" ng-repeat="(countryName, provinceObj) in countries">
      <div class="province"
           ng-repeat="(provinceName, locationList) in provinceObj"
           ng-show="showProvince(provinceName)">
        <h2 class="province-name bar"
            ng-show="filteredLocations.length > 0"
            ng-class="['A','B','C','D'][$index%4]">
          <span>{{provinceName}}</span>
        </h2>
        <div class="locations-block">
          <div class="location" ng-repeat="location in filteredLocations = locationList">
            <h3 class="name">{{location.name}}</h3>
            <address>
              <pre>{{location.address}}</pre>
              <pre>{{location.city}}</pre>
            </address>
            <a ng-href="http://{{location.url}}" ng-show="location.url">Website</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
