<section class="first">
  <h1>Ready to Rock?</h1>
</section>

<section>
  <h3>The Goodies</h3>
  <div class="cart-items"></div>
  <div class="cart-subtotal"></div>
</section>

<section ng-cloak>
  <h3>Their New Home</h3>

  <div class="address">
    
    <div class="field">
      <div class="fieldname">Name</div>
      <div class="fieldvalue">{{shippingAddress.name}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Email</div>
      <div class="fieldvalue email">{{shippingAddress.email}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Address</div>
      <div class="fieldvalue">{{shippingAddress.address1}}</div>
    </div>
    
    <div class="field" ng-show="shippingAddress.address2">
      <div class="fieldname"> </div>
      <div class="fieldvalue">{{shippingAddress.address2}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">City</div>
      <div class="fieldvalue">{{shippingAddress.city}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{shippingAddress.country == "United States" ? "State" : "Province"}}</div>
      <div class="fieldvalue">{{shippingAddress.provinceState}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code</div>
      <div class="fieldvalue">{{shippingAddress.postal}}</div>
    </div>

    <div class="field">
      <div class="fieldname">Country</div>
      <div class="fieldvalue">{{shippingAddress.country}}</div>
    </div>

    
  </div>
  
  <div class="confirmation">See a mistake? <a href="/checkout">Fix It</a></div>

</section>

<section>
  <%= form_for @order, class: "stripe" do |f| %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <button>Pay with Card</button>
  <% end %>
</section>
