<section class="first">
  <h1>Ready to Rock?</h1>
</section>

<section>
  <h3>The Goodies</h3>
  <div class="cart-items"></div>
  <div class="cart-subtotal perspective">
    <div cart-subtotal></div>
    <currency-selector>
      <img src="<%= asset_path("cad.svg") %>" class="cad hide">
      <img src="<%= asset_path("usd.svg") %>" class="usd hide">
    </currency-selector>
  </div>
  <div class="confirmation">One more thing? <a href="/">Sure</a></div>
</section>

<section ng-cloak>
  <h3>Their New Home</h3>

  <div class="shipping address">
    
    <div class="field">
      <div class="fieldname">Name</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.name}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Email</div>
      <div class="fieldvalue email">{{checkoutInfo.email}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Address</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.address1}}</div>
    </div>
    
    <div class="field" ng-show="checkoutInfo.shippingAddress.address2">
      <div class="fieldname"> </div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.address2}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">City</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.city}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{checkoutInfo.shippingAddress.country == "United States" ? "State" : "Province"}}</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.provinceState}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">{{checkoutInfo.shippingAddress.country == "United States" ? "ZIP" : "Postal"}} Code</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.postal}}</div>
    </div>

    <div class="field">
      <div class="fieldname">Country</div>
      <div class="fieldvalue">{{checkoutInfo.shippingAddress.country}}</div>
    </div>
  </div>
  
  <div class="confirmation">See a mistake? <a href="/checkout">Fix It</a></div>
</section>

<section ng-cloak>
  <h3>Need a gift receipt? Special requests? Leave us a note!</h3>
  <textarea rows="3" ng-model="checkoutInfo.notes"></textarea>
</section>

<section ng-cloak>
  <%= form_tag orders_path, class: "stripe" do |f| %>
    <input type="hidden" name="shippingAddress" value="{{checkoutInfo.shippingAddress | json}}">
    <input type="hidden" name="email" value="{{checkoutInfo.email}}">
    <input type="hidden" name="notes" value="{{checkoutInfo.notes | json}}">
    
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <button>Pay with Card</button>
  <% end %>
</section>
