<% @totem_rows.each do |totem_row| %>
  <totem-row class="unselectable">
    <totem-panel>
      <div class="wrapper">
        <h1 product-name></h1>
        <purchasing-info>
          <div>Select Variations</div>
          <div>Select Size</div>
          <div class="subtotal">
            <div class="input-with-buttons">
              <div class="button-row perspective">
                <div class="button">-</div>
                <div class="button">+</div>
              </div>
              <input type="number"
                     class="quantity"
                     step="1">
            </div>
            for
            <div class="price">$</div>
          </div>
          
          <div class="perspective submit">
            <button>Yes Please!</button>
          </div>
          
          <div class="perspective submit">
            <button ng-click="Cart.add(currentBuild)">Update Quantity</button>
          </div>
          
          <div class="cart">
            <div>It's in <a>The Bag</a></div>
          </div>
        </purchasing-info>

        <descriptive-info>
          <div>Description</div>
        </descriptive-info>
        
        
        <bottom-info>
          <div>Info Name</div>
          <div>Info Name</div>
          <div>Info Name</div>
          <info-display>
            <div>Info Content</div>
          </info-display>
        </bottom-info>
        
        <a class="closer">Close</a>
      </div>
    </totem-panel>
    
    <clipping-layer>
      <sliding-layer>
        <% totem_row.items.each do |totem_item| %>
          <totem-item item-ypos="<%= totem_item.real_ypos %>" item-name="<%= totem_item.real_name %>">
            <totem-image style="background-image: url('<%= totem_item.real_image %>')"></totem-image>
          </totem-item>
        <% end %>
      </sliding-layer>
    </clipping-layer>
    <input-layer></input-layer>
  </totem-row>
<% end %>
