<script>
  FEHU.builds = <%= @builds.html_safe %>
  FEHU.totemProducts = <%= @totem_products.html_safe %>
  FEHU.shopInfo = <%= @shop_info.html_safe %>
</script>

<h1 ng-hide="true">Loading</h1>

<div ng-cloak ng-controller="TotemCtrl">
  <totem-product ng-repeat="product in products"
                 ng-class="{showingPanel:isPanelOpen(product)}">
    <div class="overflow-container">
      <totem-specimens-list ng-style="getListPositionStyle()">
        <totem-specimen ng-repeat="specimen in product.specimens"
                        ng-style="getSpecimenStyle()"
                        ng-click="clickSpecimen(product, $index)">
          <div bimg="{{specimen.totem}}"></div>
        </totem-specimen>
      </totem-specimens-list>
    </div>
    
    <totem-product-panel>
      <div class="wrapper">
        <h1>{{product.name}}</h1>

        <purchasing-info>
          <div class="variations">
            <div class="variation" ng-repeat="variation in product.variations">
              <label>
                {{variation.name}}
              </label>
              <select ng-model="variation.choiceIndex"
                      ng-change="checkChange($index, variation)"
                      ng-options="index*1 as variant.name for (index, variant) in variation.variants">
              </select>
            </div>
          </div>
          <div class="subtotal">
            <input class="quantity" type="number" step="1" min="0" max="99" ng-model="currentChoice.quantity">
            for
            <div class="price">${{currentChoice.price}}</div>
          </div>
          
          <div class="perspective submit" ng-hide="isInCart(product)">
            <button ng-click="addToCart(product)">Yes Please!</button>
          </div>
          
          <div class="perspective submit" ng-show="isInCart(product) && (product.quantity != getQuantity(product))">
            <button ng-click="addToCart(product)">Update Quantity</button>
          </div>
          
          <div class="cart" ng-show="isInCart(product) && (product.quantity == getQuantity(product))">
            <div>{{product.quantity == 1 ? "It's" : "They're" }} in <a ng-click="showCart()">The Bag</a></div>
          </div>
        </purchasing-info>

        <descriptive-info>
          <div ng-bind-html="specimen.description"></div>
        </descriptive-info>
        
        
        <bottom-info>
          <custom-info>
            <div ng-repeat="info in product.infos"
                 ng-click="toggleInfo(info)"
                 ng-class="{active:isInfoOpen(info)}">{{info.name}}</div>
          </custom-info>
          <shop-info>
            <div ng-repeat="info in shopInfo"
                 ng-click="toggleInfo(info)"
                 ng-class="{active:isInfoOpen(info)}">{{info.name}}</div>
          </shop-info>
          <info-display ng-show="showingInfo">
            <div>{{showingInfo.content}}</div>
          </info-display>
        </bottom-info>
        
        <a class="closer" ng-click="closePanel()">Close</a>
      </div>
    </totem-product-panel>
  </totem-product>
</div>
