<h1 class="page-title">Well Hello There</h1>
<h2 class="center">Welcome to our new website.</h2>
<h2 class="center">We're still finishing up a few things, so check back soon!</h2>

<% @totem_rows.each do |totem_row| %>
  <totem-row class="unselectable">
    <totem-product-panel>
      <div class="wrapper">
        <h1>Product Name</h1>
        <purchasing-info>
          <div class="variations">
            <div class="variation" ng-repeat="variation in product.variations">
              <select ng-model="variation.choiceIndex"
                      ng-change="checkChange($index, variation)"
                      ng-options="index*1 as variant.name for (index, variant) in variation.variants">
              </select>
            </div>
          </div>
          <div class="subtotal">
            <div class="input-with-buttons">
              <div class="button-row perspective">
                <div class="button" ng-click="changeQuantity(-1)">-</div>
                <div class="button" ng-click="changeQuantity(1)">+</div>
              </div>
              <input type="number"
                     class="quantity"
                     step="1"
                     ng-model="currentBuild.desiredQuantity">
            </div>
            for
            <div class="price">$</div>
          </div>
          
          <div class="perspective submit" ng-hide="Cart.has(currentBuild)">
            <button ng-click="Cart.add(currentBuild)">Yes Please!</button>
          </div>
          
          <div class="perspective submit"
               ng-show="Cart.has(currentBuild) && (currentBuild.desiredQuantity != Cart.get(currentBuild).quantity)">
            <button ng-click="Cart.add(currentBuild)">Update Quantity</button>
          </div>
          
          <div class="cart"
               ng-show="Cart.has(currentBuild) && (currentBuild.desiredQuantity == Cart.get(currentBuild).quantity)">
            <div>It's in <a ng-click="showCart()">The Bag</a></div>
          </div>
        </purchasing-info>

        <descriptive-info>
          <div ng-bind-html="specimen.description"></div>
        </descriptive-info>
        
        
        <bottom-info>
          <custom-info>
            <div ng-repeat="info in product.infos"
                 ng-click="toggleInfo(info)"
                 ng-class="{active:isInfoOpen(info)}">Info Name</div>
          </custom-info>
          <shop-info>
            <div ng-repeat="info in shopInfo"
                 ng-click="toggleInfo(info)"
                 ng-class="{active:isInfoOpen(info)}">Info Name</div>
          </shop-info>
          <info-display ng-show="showingInfo">
            <div>Info Content</div>
          </info-display>
        </bottom-info>
        
        <a class="closer" ng-click="closePanel()">Close</a>
      </div>
    </totem-product-panel>
    
    <sliding-layer>
      <% totem_row.items.each do |totem_item| %>
        <totem-item item-ypos="<%= totem_item.real_ypos %>">
          <totem-image style="background-image: url('<%= totem_item.real_image %>')"></totem-image>
        </totem-item>
      <% end %>
    </sliding-layer>
    <input-layer></input-layer>
  </totem-row>
<% end %>

<br><br><br>
<h2 class="center">In a buying mood? Visit our <a href="https://www.etsy.com/shop/fehudesign">Etsy Shop</a></h2>
