@import 'vars';

.overflow-container {
  display: block;
  width: 100%;
  overflow: hidden;
}

html.wide .overflow-container { margin-top: $wide-pad; }
html.tall .overflow-container { margin-top: $tall-pad; }
