@import 'vars';

purchasing-info {
  display: block;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  background: rgba($yellow, 0.5);
  margin: 1em 0;
  
  & > div {
    display: inline-block;
    vertical-align: middle;
    margin: .5em 1em;
  }
  
  .variations {
    display: inline-table;
    border-collapse: separate;
    
    .variation {
      display: table-row;
      text-align: left;
      margin: .5em 0;
      
      & > * {
        padding-bottom: .3em;
      }
    }
    
    label {
      display: table-cell;
      text-align: right;
    }

    select {
      display: table-cell;
      margin-left: .5em;
    }
  }
  
  .subtotal {
    & > * {
      display: inline-block;
      vertical-align: baseline;
    }
    
    .quantity {
      width: 3em;
    }
  }
  
  .submit {
    width: 10em;
  }
  
  .cart {
    width: 10em;
    margin: 1em;
  }
}
