$dark: #456;
$blue: hsl(200, 50%, 95%);
$yellow: hsl(30, 50%, 95%);

shopping-cart {
  position: relative;
  top: -2.5em;
  
  display: none;
  height: 0;
  text-align: center;
  
  overflow: visible;
  z-index: 100;
  
  .icon {
    position: absolute;
    left: 50%;
    top: -.2em;
    display: inline-block;
    cursor: pointer;
    padding: .5em;
    z-index: 101;
    transform: translate(-50%);
    
    img {
      width: 32px;
      height: 24px;
    }
    
    &:hover {
      transition: transform 5s cubic-bezier(0, 1, 0, 1);
      transform: translate(-50%) scale(1.5);
    }
    
    &.showing {
      transition: transform 5s cubic-bezier(0, .8, 0, .8) .3s;
      transform: translate(-50%) scale(1.5);
    }
  }
  
  .contents {
    position: absolute;
    display: block;
    left: calc(50% - 16em);
    width: 32em;
    margin: -1em auto 0;
    padding: 3em 2em 1em;
    border: .4rem solid $blue;
    background: white;
    box-shadow: 0 0 2em white;
    transition: opacity .2s ease-out;
    opacity: 0;
    pointer-events: none;
    
    &.showing {
      opacity: 1;
      pointer-events: auto;
    }
    
    h3 {
      text-align: center;
      margin-bottom: .5em;
      color: $dark;
      
      img {
        margin: 0 .2em 0;
        vertical-align: -.3em;
      }
    }
    
    .items {
      display: table;
      border-collapse: separate;
      text-align: right;
      
      .item {
        display: table-row;
        
        & > div {
          display: table-cell;
          padding: .2em .5em;
        }
        
        .name.deleted {
          opacity: .5;
        }
        
        .quantity input {
          width: 3em;
        }
        
        .price {
          min-width: 3.5em;
        }

        .remove {
          padding: 0;

          div {
            position: relative;
            top: -.1em;
            width: 1.3em;
            height: 1.3em;
            margin-left: .4em;
            line-height: 1.1em;
            border-radius: 1.3em;
            text-align: center;
            background: $yellow;
            color: rgba(#F00, 0.3);
            cursor: pointer;
          }
        }
        
        .spacer {
          visibility: hidden;
          input { width: 0; }
        }
        
        .undo {
          color: rgba(#55A, 0.8);
          cursor: pointer;
        }
      }
    }
    
    .button {
      margin-top: .8em;
    }
  }
}
