.static#totem {
  main {
    max-width: none;
    padding: 0;
    margin: 0;
  }
  
  totem-row {
    display: block;
    position: relative;
    width: 100%;
    height: 80vmin; // Replaced by JS
    margin: 2vmin 0; // Replaced by JS
  }
  
  input-layer {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
  }
  
  clipping-layer {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  
  sliding-layer {
    display: block;
    height: 80vmin; // Replaced by JS
  }
  
  totem-item {
    display: block;
    margin-left: calc(50vw - 41vmin); // Replaced by JS
    transition: opacity .4s cubic-bezier(.2,.2,.3,.9);
    
    // This lets us stack all the images in the same spot, without using position:absolute because that breaks inherting parent transforms
    width: 0;
    height: 0;
    overflow: visible;
    
    totem-image {
      display: inline-block;
      width: 80vmin; // Replaced by JS
      height: 80vmin; // Replaced by JS
      background-size: cover;
      background-color: #F2F2F2;
    }
  }
}
