@import 'vars';

totem-specimen {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -$size/2;
  width: $size;
  height: $size;
  cursor: pointer;
  
  div {
    width: $size;
    height: $size;
  }
}
