@import 'vars';

totem-specimens-list {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: transform 1s;
}

html.wide totem-specimens-list { height: $wide-size; }
html.tall totem-specimens-list { height: $tall-size; }
