<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello,</p>

<p>
  A wholesale order was placed on our website,
  and whoever placed it wanted to send you the invoice.
</p>

<p><a href="">Click here</a> to view the invoice.</p>

<p>Regards,</p>

<p>
  Freyja Ulveland<br>
  Fehu Inc.
</p>

</body>
