<h1>Stinky Products</h1>

<h3>
  New <%= link_to "Product", new_admin_product_path %>
</h3>

<% @products.each do |product| %>
  <div><%= link_to product.name, edit_admin_product_path(product) %></div>
<% end %>
