editable {
  display: block;
  
  & > div {
    display: inline-block;
    margin-right: .5em;
  }
  
  a {
    display: inline-block;
    visibility: hidden;
  }
  
  &:hover a {
    visibility: visible;
  }
}
