product-info.showingProductInfo {
  opacity: 1;
  overflow: visible;
  transition: opacity 1s, transform 1s, height 1s;
  pointer-events: auto;
}

product-info {
  position: absolute;
  display: block;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  transition: opacity 1s, transform 1s, height 1s;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  
  .wrapper {
    width: 50em;
    max-width: 99vw;
    margin: 0 auto;
    padding: 2vw;
    border: 1px solid rgba(black, .1);
    background: rgba(white,.9);
    box-shadow: 0 4px 8px -4px rgba(0, 0, 30, .05);
    -webkit-font-smoothing: subpixel-antialiased;
    
    identity-info {
      display: block;
      text-align: center;
      font-size: 2em;
    }
    
    purchasing-info {
      display: block;
      text-align: center;
      
      & > div {
        vertical-align: middle;
        margin: .5em 1em;
      }
      
      .variations {
        display: inline-block;
        
        label {
          text-align: right;
          font-size: 1.1em;
          display: block;
          margin: .5em 1em;
          
          select {
            margin-left: .5em;
          }
        }
      }
      
      .acceptance {
        font-size: 1.2em;
        display: inline-block;
        
        div {
          display: inline-block;
          margin: .5em;
        }
        
        .add-to-cart {
          border: 1px solid #706F6D;
          padding: .2em .4em;
          border-radius: 3px;
        }
      }
    }

    descriptive-info {
      display: block;
    }
    
    bottom-info {
      display: block;
      text-align: center;
      margin: .5em 0 0;
            
      custom-info, shop-info {
        display: inline-block;
        
        div {
          display: inline-block;
          padding: .1em .25em;
          margin: .4em .25em;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}
