$blue: hsl(200, 50%, 95%);
$yellow: hsl(30, 30%, 98%);

product-info.showingProductInfo {
  opacity: 1;
  overflow: visible;
  transform: translate(-50%, 0);
  transition: opacity 1s ease-out, transform 1s;
  pointer-events: auto;
}

product-info {
  position: absolute;
  display: block;
  top: 65%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 20px);
  transition: opacity 1s ease-in, transform 1s;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  
  .wrapper {
    width: 50em;
    max-width: 99vw;
    margin: 0 auto;
    padding: 0 0 .5em;
    border: 1px solid $blue;
    background: white;
    box-shadow: 0 8px 8px -6px hsl(200, 20%, 80%), 0 50px 100px white;
    -webkit-font-smoothing: subpixel-antialiased;
    
    h1 {
      margin: .5em 0 .3em;
    }

    purchasing-info {
      display: block;
      border-top: 1px solid $blue;
      border-bottom: 1px solid $blue;
      background: $yellow;
      margin: 1em 0;
      
      & > div {
        display: inline-block;
        vertical-align: middle;
        margin: .5em 1em;
      }
      
      .variations {
        display: inline-table;
        
        .variation {
          display: table-row;
          text-align: left;
        }
        
        label {
          display: table-cell;
          margin: 0;
          text-align: right;
        }

        select {
          display: table-cell;
          margin-left: .5em;
        }
      }
      
      .subtotal {
        & > * {
          display: inline-block;
          vertical-align: baseline;
        }
        
        .quantity {
          width: 3em;
        }
      }
      
      .submit {
        margin-left: .5em;
      }
    }

    descriptive-info {
      display: block;
      margin: 0 5% 1em;
      div {
        display: inline-block;
        text-align: left;
      }
    }
    
    bottom-info {
      display: block;
      margin: .5em 0 0;
            
      custom-info, shop-info {
        display: inline-block;
        
        div {
          display: inline-block;
          margin: .25em 0;
          padding: .25em .5em;
          border: 1px solid transparent;
          font-weight: bold;
          cursor: pointer;
          
          &.active {
            border: 1px solid $blue;
            background: $yellow;
          }
        }
      }
      
      info-display {
        display: block;
        margin: .5em;
        
        div {
          display: inline-block;
          text-align: left;
        }
      }
    }
    
    .closer {
      display: inline-block;
      margin-top: .5em;
      padding: .5em;
      text-transform: lowercase;
      font-variant: small-caps;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}
