product-info.showingProductInfo {
  opacity: 1;
  overflow: visible;
  transition: opacity 1s, transform 1s, height 1s;
  pointer-events: auto;
}

product-info {
  position: absolute;
  display: block;
  top: 55%;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  transition: opacity 1s, transform 1s, height 1s;
  -webkit-font-smoothing: subpixel-antialiased;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  
  .wrapper {
    width: 50em;
    max-width: 99vw;
    margin: 0 auto;
    padding: 0 2vw .5em;
    border: 1px solid rgba(black, .1);
    background: rgba(white,1);
    box-shadow: 0 8px 8px -4px rgba(0, 0, 30, .3);
    -webkit-font-smoothing: subpixel-antialiased;
    
    identity-info {
      display: block;
      font-size: 1.8em;
      margin: .5em 0 .3em;
    }

    descriptive-info {
      display: block;
      margin: 0 2em 1em;
      div {
        display: inline-block;
        text-align: left;
      }
    }
    
    purchasing-info {
      display: block;
      border-top: 1px solid rgba(black, .06);
      border-bottom: 1px solid rgba(black, .04);
      background: #F9F9F9;
      margin: 1em -2vw;
      
      & > div {
        display: inline-block;
        vertical-align: middle;
        margin: .5em 1em;
      }
      
      .specimens {
        text-align: right;
        
        label {
          display: block;
          margin: 0;
          
          select {
            margin-left: .5em;
          }
        }
      }
      
      .acceptance {
        div {
          display: inline-block;
          margin: 0 .5em;
        }
        
        .add-to-cart {
          border: 1px solid #706F6D;
          padding: .2em .4em;
          border-radius: 5px;;
        }
      }
    }
    
    bottom-info {
      display: block;
      margin: .5em 0 0;
            
      custom-info, shop-info {
        display: inline-block;
        
        div {
          display: inline-block;
          padding: .1em .25em;
          margin: .4em .25em;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    
    .closer {
      display: inline-block;
      margin-top: .5em;
      padding: .5em;
      text-transform: lowercase;
      font-variant: small-caps;
      text-decoration: none;
      &:hover { text-decoration: underline; }
    }
  }
}
