$pad: 1vmin;
$blue: hsl(200, 50%, 95%);
$yellow: hsl(30, 50%, 95%);

shopping-cart {
  display: block;
  text-align: center;
  
  .inner {
    display: inline-block;
    max-width: 66em;
    margin: $pad*2 auto 0;
    padding: .6em 2.4em;
    border-top: $pad solid $blue;
    border-bottom: $pad solid $blue;
    // background: $yellow;
    
    h3 {
      text-align: center;
      margin-bottom: .4em;
    }
    
    .items {
      text-align: right;
      
      & > div {
        padding: 0 0.5em;

        .remove {
          display: inline-block;
          text-align: center;
          margin-left: .4em;
          width: 1.3em;
          height: 1.3em;
          line-height: 1.1em;
          border-radius: 1.3em;
          font-size: .8em;
          vertical-align: .2em;
          background: $yellow;
          color: rgba(#F00, 0.3);
          cursor: pointer;
        }
      }
    }
    
    button {
      margin-top: .8em;
    }
  }
}
