$size: 80vmin;
$pad: 1vmin;

specimens {
  display: block;
  margin: $pad*2 0;
  padding-left: 50%;
  overflow: hidden;
  position: relative; // contain absolutes
  
  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    width: $size/2;
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }
  
  &::before {
    left: 50%;
    margin-left: -($size*1.5 + $pad*2);
    background: linear-gradient(to right, white, rgba(white, 0));
  }
  
  &::after {
    left: 50%;
    margin-left: $size + $pad * 2;
    background: linear-gradient(to left, white, rgba(white, 0));
  }
  
  horizontal-slider {
    display: block;
    width: ($size + $pad*2) * 3;
    
    vertical-slider {
      display: block;
      transform: translateX(-50%); // Overridden by getVerticalSliderStyle
      transition: transform 1s;
      
      specimen {
        display: inline-block;
        cursor: pointer;
        padding: 0 $pad;
        vertical-align: middle;
        
        div {
          display: block;
          width: $size;
          height: $size;
        }
        
        &.A, &.C {
          opacity: 0.2;
        }
        
        &.next { cursor: e-resize; }
        &.prev { cursor: w-resize; }
      }
    }
  }
}
