// $largest: 80vmin;
// $smallest: 50vw;
// $pad: 2vmin;

$size: 80vmin;
$pad: .5vmin;

product:first-child specimens {
  margin-top: $pad;
}

specimens {
  display: block;
  padding-left: 50%;
  overflow: hidden;
  
  horizontal-slider {
    display: block;
    width: $size * 3;
    
    vertical-slider {
      display: block;
      transform: translateX(-50%); // Overridden by getVerticalSliderStyle
      transition: transform 1s;
      
      specimen {
        display: inline-block;
        cursor: pointer;
        padding: $pad;
        vertical-align: middle;
        
        div {
          display: block;
          width: $size - $pad*2;
          height: $size - $pad*2;
        }
        
        &.A, &.C {
          opacity: 0.2;
        }
        
        &.next { cursor: e-resize; }
        &.prev { cursor: w-resize; }
      }
    }
  }
}
