.common-events {
  max-width: none;
  text-align: center;

  section {
    max-width: none;
  }
  
  .event {
    display: inline-block;
    vertical-align: top;
    max-width: 30rem;
    margin: 0 2em;
    background: #F8F8F8;
    
    h3 { margin: 0; }

    p {
      display: inline-block;
      margin: .7em;
    }
  }
  
  .book-us {
    display: inline-block;
    padding: .5em 1em 0;
  }
}
