.common-events {
  section {
    max-width: none;
  }

  div {
    display: inline-block;
    vertical-align: top;
    max-width: 30rem;
    margin: 0 2em;
  }

  h3 {
    margin: 0;
  }

  p {
    display: inline-block;
    margin: .5em;
  }
}
