.common-locations {
  section {
    max-width: none;
  }
  
  form {
    max-width: none;
    font-size: 1.1em;
    margin: 1.2em 0;
    text-align: center;
    
    label {
      display: inline-block;
    }
    
    input {
      margin-left: .2em;
      width: auto;
    }
    
    select {
      margin-left: 1.5em;
    }
  }
  
  .country {
    text-align: left;
  }
  
  .province {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin: 2em;
    text-align: left;
    
    .province-name {
      padding: 1em;
      display: inline-block;
      span {
      }
    }
    
    .locations-block {
      display: inline-block;
      
      .location {
        display: inline-block;
        margin: 2em;
        
        address {
          margin: .5em 0;
          
          pre {
            margin: 0;
          }
        }
        
        .perspective {
          float: right;
          display: inline-block;
        }
      }
    }
  }
}
