.stink#stink, .stink#stink_in {
  form {
    margin-top: 1em;
    text-align: center;
    max-width: none;
    
    div {
      display: inline-block;
    }
    
    input {
      width: auto;
    }
    
  }
}
