<h1>Who In The Hoot Are We?</h1>

<h3>Fehu Inc.</h3>
<p>Leatherwork, Design, and Photography by <b>Freyja Ulveland</b>.</p>
<p>Website by <b>Freyja Ulveland</b> and <a href="http://ivanish.ca">Ivan Reese</a>.</p>

<h3>History</h3>
<p class="columns">Freyja started making leather cuffs back in 2012-ish. They were wildly popular from the outset, and she loved working with leather, so it gradually snowballed into a full-fledged business. Planning for the future, researched and developed a number of natural dyes and processes, so that she'd feel safe and healthy having children while continuing to make products.</p>

<h3>Philosophy</h3>
<p class="columns">The techniques born at the dawn of civilization have grown up alongside humanity. Today it is a material of high fashion and pure function, and we absolutely love it. As modern leatherworkers, we are scientific and artistic, methodical experimenters and expressive through craft. We make pieces, not products. We do as much as we can by hand so our work feels true and distinct. If you like our leather here, you'll love it more with a month to wear-in, with a year of friends and strangers asking about it, and a decade of it being part of your story.</p>
