<h1>Check Me Out</h1>


<form novalidate>
  <h2>Shipping Address</h2>
  
  <div>
    <label>
      Name
      <input type="text" ng-model="shippingAddress.name">
    </label>
    
    <label>
      Email (Optional)
      <input type="email" ng-model="shippingAddress.email">
    </label>
  </div>
  
  <div>
    <label>
      Address
      <input type="text" ng-model="shippingAddress.address1">
      <input type="text" ng-model="shippingAddress.address2">
    </label>
    
    <label>
      City
      <input type="text" ng-model="shippingAddress.city">
    </label>
  </div>
  
  <div>
    <label>
      Country
      <select ng-model="shippingAddress.country"></select>
    </label>
    
    <label>
      State/Province
      <select ng-model="shippingAddress.province"></select>
    </label>
    
    <label>
      Zip/Postal Code
      <input type="text" ng-model="shippingAddress.postal">
    </label>
  </div>
  
  <label>
    <input type="checkbox" ng-model="saveShippingAddress">
    Save my shipping address for next time.
  </label>
  
  <div class="perspective">
    <input type="submit" ng-click="submit()">Continue</a>
  </div>
</form>
