<h1>Check Me Out</h1>


<form novalidate>
  <h2>Shipping Address</h2>
  
  <div class="row two">
    <label>
      Name
      <input type="text" ng-model="shippingAddress.name">
    </label>
    
    <label>
      Email
      <input type="email" ng-model="shippingAddress.email">
    </label>
  </div>
  
  <hr>
  
  <div class="row">
    <label>
      Address
      <input type="text" ng-model="shippingAddress.address1" placeholder="Line 1">
    </label>
    <input type="text" ng-model="shippingAddress.address2" placeholder="Line 2">
  </div>
  
  <div class="row three">
    <label>
      City
      <input type="text" ng-model="shippingAddress.city">
    </label>
    
    <label>
      Province/State
      <input type="text" ng-model="shippingAddress.provinceState">
    </label>
    
    <label>
      Zip/Postal Code
      <input type="text" ng-model="shippingAddress.postal">
    </label>
  </div>

  <label>
    Country
    <select ng-model="shippingAddress.country"
            ng-options="country for country in countries"></select>
  </label>
  
  <hr>
  
  <label>
    <input type="checkbox" ng-model="saveShippingAddress">
    Save my shipping address on this computer.
  </label>
  
  <div class="perspective">
    <input type="submit" ng-click="submit()" value="Continue">
  </div>
</form>
