<h1>Check Me Out</h1>


<form>
  <h2>Shipping Address</h2>
  
  <div>
    <label>
      Name
      <input type="text">
    </label>
    
    <label>
      Email (Optional)
      <input type="text">
    </label>
  </div>
  
  <div>
    <label>
      Address
      <input type="text">
      <input type="text">
    </label>
    
    <label>
      City
      <input type="text">
    </label>
  </div>
  
  <div>
    <label>
      Country
      <select></select>
    </label>
    
    <label>
      State/Province
      <select></select>
    </label>
    
    <label>
      Zip/Postal Code
      <input type="text">
    </label>
  </div>
  
  <a class="button" href="/payment">Continue</a>
  
