<h1>Ready to Rock?</h1>

<section>
  <div class="center-block">
    <span>Make sure that everything looks good.<br>If you see a mistake, go <a href="/checkout">back</a> to fix it.</span>
  </div>
</section>

<section>
  <h3>The Goodies You'll Receive</h3>

  <div class="items">
    <div class="item" ng-repeat="item in cartItemsArray | orderBy:item.choiceName.length">
      <div><b>{{item.choiceName}}</b></div>
      <div>x{{item.quantity}}</div>
      <div>${{item.quantity * item.cents / 100}}</div>
      <div><div class="remove" ng-click="remove(item)">x</div></div>
    </div>
  </div>
</section>

<section>
  <h3>The Place We'll Send Them</h3>

  <div class="address">
    
    <div class="field">
      <div class="fieldname">Name</div>
      <div class="fieldvalue">{{shippingAddress.name}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Email</div>
      <div class="fieldvalue">{{shippingAddress.email}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Address</div>
      <div class="fieldvalue">{{shippingAddress.address1}}</div>
      <div class="fieldvalue">{{shippingAddress.address2}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">City</div>
      <div class="fieldvalue">{{shippingAddress.city}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Province/State</div>
      <div class="fieldvalue">{{shippingAddress.provinceState}}</div>
    </div>
    
    <div class="field">
      <div class="fieldname">Zip/Postal Code</div>
      <div class="fieldvalue">{{shippingAddress.postal}}</div>
    </div>

    <div class="field">
      <div class="fieldname">Country</div>
      <div class="fieldvalue">{{shippingAddress.country}}</div>
    </div>
    
  </div>
</section>

<section>
  <div class="stripe">
    <button>Pay with Card</button>
  </div>
</section>
