<product ng-repeat="product in products"></product>

<footer>
  <h1>This is the bottom of the ocean of our website.</h1>
  <p>You could swim up for air — but while you're here, maybe we can show you around? The sea floor is full of beautiful mysteries.</p>
  
  <div class="social">
    <a href="https://twitter.com/fehuleather" target="_blank"><img src="/images/social/twitter.png"></a>
    <a href="https://www.pinterest.com/fehu/" target="_blank"><img src="/images/social/pinterest.png"></a>
    <a href="https://facebook.com/fehuleather" target="_blank"><img src="/images/social/facebook.png"></a>
    <a href="https://instagram.com/fehuleather/" target="_blank"><img src="/images/social/instagram.png"></a>
  </div>

  <div class="pages">
    <a href="/about">About</a>
    <a href="/events">Events</a>
    <a href="/locations">Locations</a>
    <a href="/wholesale">Wholesale</a>
  </div>

  <a href="/">Fehu</a>
</footer>
