<h1>Image Stinks</h1>

<div class="perspective">
  <%= link_to "New Image", new_admin_image_path, class: "new button" %>
</div>

<div class="listing">
  <% @images.each do |image| %>
    <%= image_tag image.src %>
  <% end %>
</div>
