<h1>New Totem Item in row <%= @totem_row.index %></h1>

<%= form_for [:admin, @totem_row, @totem_item] do |f| %>
  <%= render "admin/totem_items/fields", f: f, product_builds: @product_builds, edit: false %>
<% end %>
