@import 'vars';

.orders#edit order-builder {
  .kingdom {
    margin-top: 2em;
    
    h2 {
      border-bottom: 2px solid $dkyellow;
      padding: 0 0 .2em;
    }
    
    .product {
      display: inline-block;
      width: 10em;
      margin: 0;
      padding: 1em 0;
      text-align: center;
      text-decoration: none;
      vertical-align: top;
      cursor: pointer;
      
      img {
        width: 100%;
        margin-bottom: .5em;
        padding: 0 .5em;
        border-radius: 100%;
      }
      
      span {
        font-size: 1.25em;
      }
      
      &:hover {
        color: $dark;
        text-decoration: underline;
      }
    }
  }
}
