order-preview {
  display: inline-block;
  width: 20em;
  margin-left: 1em;
  vertical-align: top;
  text-align: left;

  h1 {
    text-align: left;
  }
  
  .right {
    float: right;
  }
  
  .name {
    font-weight: bold;
  }
  
  .details {
    display: inline-block;
    vertical-align: middle;
  }
}
