@import "vars";

.orders#index {
  .order {
    position: relative;
    padding: 1em;
    margin: 1em 0;
    
    div {
      margin-bottom: .5em;
    }
    
    .type {
      position: absolute;
      display: block;
      top: -1.05rem;
      left: -1.05rem;
      width: 1.0rem;
      height: 1.1rem;
      line-height: .8;
      font-size: 1.6em;
      background: white;
      font-family: sans-serif;
      font-weight: bold;
      color: #FAA;
    }
    
    &.RetailOrder {
      border: 1em solid #FFF2F2;
    }
    
    &.WholsaleOrder {
      border: 1em solid #F9F9F9;
    }
  }
  
  .items {
    margin: 0;
  }
  
  .item {
    .build {
      color: $dark;
    }
  }
}
