  <footer>
    <div class="nav">
      <a href="/locations">Locations</a>
      <a href="/about">About</a>
      <a href="/events">Events</a>
      <a href="/wholesale">Wholesale</a>
    </div>
    
    <div class="about">
      Handmade leather goods<br>
      from Calgary, Canada
    </div>
    <div class="contact">
      <p>freyja@fehu-leather.com</p>
      <a href="http://www.etsy.com/shop/FehuDesign">Etsy</a>
      |
      <a href="https://www.facebook.com/fehuleather">Facebook</a>
    </div>
    
    <div class="nav">
      <a href="/pages/press-kit">Press Kit</a>
      <a href="/pages/wholesale">Wholesale</a>
    </div>
    
    <%= image_tag "rune.svg", class: "rune" %>
    
  </footer>
</body>
</html>
