<%= render "layouts/top" %>
  
  <!--[if gte IE 10]><!-->
  <main>
    <%= yield %>
  </main>
  <!--<![endif]-->
  
  <!--[if lt IE 10]>
  <%= render "partials/ie" %>
  <![endif]-->
  
<%= render "layouts/bottom" %>
